<p style="color:#6c6c6c; font-size:14px; padding-right: 12px;">An administrator at !!sitename!! has changed a membership level for !!name!!.</p>

<p style="color:#6c6c6c; font-size:14px; padding-right: 12px;">!!membership_change!!.</p>

<p style="color:#6c6c6c; font-size:14px; padding-right: 12px;">Log in to your WordPress admin here: !!login_link!!</p>