<p style="color:#6c6c6c; font-size:14px; padding-right: 12px;">An administrator at !!sitename!! has changed your membership level.</p>

<p style="color:#6c6c6c; font-size:14px; padding-right: 12px;">!!membership_change!!.</p>

<p style="color:#6c6c6c; font-size:14px; padding-right: 12px;">If you did not request this membership change and would like more information please contact us at !!siteemail!!</p>

<p style="color:#6c6c6c; font-size:14px; padding-right: 12px;">Log in to your membership account here: !!login_link!!</p>