<p style="color:#6c6c6c; font-size:14px; padding-right: 12px;">The billing information for !!display_name!! at !!sitename!! has been changed.</p>

<p style="color:#6c6c6c; font-size:14px; padding-right: 12px;">Account: !!display_name!! (!!user_email!!)</p>
<p style="color:#6c6c6c; font-size:14px; padding-right: 12px;">	
	Billing Information:<br />
	!!billing_name!!<br />
	!!billing_street!!<br />					
	!!billing_city!!, !!billing_state!! !!billing_zip!!	!!billing_country!!
	!!billing_phone!!
</p>
	
<p style="color:#6c6c6c; font-size:14px; padding-right: 12px;">	
	!!cardtype!!: !!accountnumber!!<br />
	Expires: !!expirationmonth!!/!!expirationyear!!
</p>

<p style="color:#6c6c6c; font-size:14px; padding-right: 12px;">Log in to your WordPress dashboard here: !!login_link!!</p>