<p style="color:#6c6c6c; font-size:14px; padding-right: 12px;">Payment Failure</p>

<p style="color:#6c6c6c; font-size:14px; padding-right: 12px;">Account: !!display_name!! (!!user_email!!)</p>
<p style="color:#6c6c6c; font-size:14px; padding-right: 12px;">The most recent account information we have on file is:</p>

<p style="color:#6c6c6c; font-size:14px; padding-right: 12px;">!!billing_address!!</p>
	
<p style="color:#6c6c6c; font-size:14px; padding-right: 12px;">	
	!!cardtype!!: !!accountnumber!!<br />
	Expires: !!expirationmonth!!/!!expirationyear!!
</p>