<p style="color:#6c6c6c; font-size:14px; padding-right: 12px;">Your billing information at !!sitename!! has been changed.</p>

<p style="color:#6c6c6c; font-size:14px; padding-right: 12px;">Account: !!display_name!! (!!user_email!!)</p>
<p style="color:#6c6c6c; font-size:14px; padding-right: 12px;">	
	Billing Information:<br />
	!!billing_address!!
</p>
	
<p style="color:#6c6c6c; font-size:14px; padding-right: 12px;">	
	!!cardtype!!: !!accountnumber!!<br />
	Expires: !!expirationmonth!!/!!expirationyear!!
</p>

<p style="color:#6c6c6c; font-size:14px; padding-right: 12px;">If you did not request a billing information change please contact us at !!siteemail!!</p>

<p style="color:#6c6c6c; font-size:14px; padding-right: 12px;">Log in to your membership account here: !!login_link!!</p>