<p style="color:#6c6c6c; font-size:14px; padding-right: 12px;">Your membership at !!sitename!! has been cancelled.</p>

<p style="color:#6c6c6c; font-size:14px; padding-right: 12px;">If you did not request this cancellation and would like more information please contact us at !!siteemail!!</p>
                      