<p style="color:#6c6c6c; font-size:14px; padding-right: 12px;">The membership for !!user_login!! at !!sitename!! has been cancelled.</p>

<p style="color:#6c6c6c; font-size:14px; padding-right: 12px;">Account: !!display_name!! (!!user_email!!)</p>
<p style="color:#6c6c6c; font-size:14px; padding-right: 12px;">Membership Level: !!membership_level_name!!</p>
<p style="color:#6c6c6c; font-size:14px; padding-right: 12px;">Start Date: !!startdate!!</p>
<p style="color:#6c6c6c; font-size:14px; padding-right: 12px;">Cancellation Date: !!enddate!!</p>

<p style="color:#6c6c6c; font-size:14px; padding-right: 12px;">Log in to your WordPress admin here: !!login_link!!</p>