<p style="color:#6c6c6c; font-size:14px; padding-right: 12px;">There was a new member checkout at !!sitename!!.</p>
<p style="color:#6c6c6c; font-size:14px; padding-right: 12px;">Below are details about the new membership account.</p>

<p style="color:#6c6c6c; font-size:14px; padding-right: 12px;">Account: !!display_name!! (!!user_email!!)</p>
<p style="color:#6c6c6c; font-size:14px; padding-right: 12px;">Membership Level: !!membership_level_name!!</p>
!!membership_expiration!! !!discount_code!!

<p style="color:#6c6c6c; font-size:14px; padding-right: 12px;">Log in to your membership account here: !!login_link!!</p>
                         