<p style="color:#6c6c6c; font-size:14px; padding-right: 12px;">Thank you for your membership to !!sitename!!. Your membership account is now active.</p>
<p style="color:#6c6c6c; font-size:14px; padding-right: 12px;">Below are details about your membership account.</p>

<p style="color:#6c6c6c; font-size:14px; padding-right: 12px;">Account: !!display_name!! (!!user_email!!)</p>
<p style="color:#6c6c6c; font-size:14px; padding-right: 12px;">Membership Level: !!membership_level_name!!</p>
!!membership_expiration!! !!discount_code!!

<p style="color:#6c6c6c; font-size:14px; padding-right: 12px;">Log in to your membership account here: !!login_link!!</p>
                      