
<p style="color:#6c6c6c; font-size:14px; padding-right: 12px;">There was a new member checkout at !!sitename!!.</p>

<p style="color:#6c6c6c; font-size:14px; padding-right: 12px;"><strong>They have chosen to pay by check.</strong></p>

<p style="color:#6c6c6c; font-size:14px; padding-right: 12px;">Below are details about the new membership account and a receipt for the initial membership invoice.</p>

<p style="color:#6c6c6c; font-size:14px; padding-right: 12px;">Account: !!display_name!! (!!user_email!!)</p>
<p style="color:#6c6c6c; font-size:14px; padding-right: 12px;">Membership Level: !!membership_level_name!!</p>
<p style="color:#6c6c6c; font-size:14px; padding-right: 12px;">Membership Fee: !!membership_cost!!</p>
!!membership_expiration!! !!discount_code!!

<p style="color:#6c6c6c; font-size:14px; padding-right: 12px;">
	Invoice #!!invoice_id!! on !!invoice_date!!<br />
	Total Billed: $!!invoice_total!!
</p>

<p style="color:#6c6c6c; font-size:14px; padding-right: 12px;">Log in to your membership account here: !!login_link!!</p>
  