
<p style="color:#6c6c6c; font-size:14px; padding-right: 12px;">The payment method used for your membership at !!sitename!! will expire soon. <strong>Please click the following link to log in and update your billing information to avoid account suspension. !!login_link!!</strong></p>

<p style="color:#6c6c6c; font-size:14px; padding-right: 12px;">Account: !!display_name!! (!!user_email!!)</p>
<p style="color:#6c6c6c; font-size:14px; padding-right: 12px;">The most recent account information we have on file is:</p>

<p style="color:#6c6c6c; font-size:14px; padding-right: 12px;">!!billing_name!!</br />
	!!billing_address!!
</p>
	
<p style="color:#6c6c6c; font-size:14px; padding-right: 12px;">	
	!!cardtype!!: !!accountnumber!!<br />
	Expires: !!expirationmonth!!/!!expirationyear!!
</p>