            				</td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td bgcolor="#f7f7f7" style="padding: 20px 0;">
                <table width="150" cellpadding="0" cellspacing="0" border="0" align="center">
                  <tr>
                    <td width="80" valign="top" align="left"><a href="http://facebook.com"><img src="http://www.footballadvisor.net/wp-content/themes/infographer/paid-memberships-pro/email/img/facebook_btn.png" alt="Facebook" width="40" height="40" border="0" /></a></td>
                    <td width="80" valign="top" align="left"><a href="http://twitter.com"><img src="http://www.footballadvisor.net/wp-content/themes/infographer/paid-memberships-pro/email/img/twitter_btn.png" alt="Twitter" width="40" height="40" border="0" /></a></td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td height="24">
                <img src="img/bottom-blue.jpg" alt="bottom" width="600" height="24" border="0" />
              </td>
            </tr>
            <tr>
              <td>
                <table width="600" cellpadding="0" cellspacing="0" border="0" style="font-size: 11px;">
                  <tr>
                    <td align="left"><p style="color:#8C8C8C;">Does this email look funky? <a href="#" style="color:#8C8C8C;">View it in your browser</a></p></td>
                    <td align="right"><p style="color:#8C8C8C;">2015 Football Advisor. All Rights Reserved.</p></td>
                  </tr>
                </table>
              </td>
            </tr>          
            <tr>
              <td height="40"></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>