
<p style="color:#6c6c6c; font-size:14px; padding-right: 12px;">Thank you for your membership to !!sitename!!. Below is a receipt for your most recent membership invoice.</p>

<p style="color:#6c6c6c; font-size:14px; padding-right: 12px;">Account: !!display_name!! (!!user_email!!)</p>
<p style="color:#6c6c6c; font-size:14px; padding-right: 12px;">
	Invoice #!!invoice_id!! on !!invoice_date!!<br />
	Total Billed: !!invoice_total!!
</p>
<p style="color:#6c6c6c; font-size:14px; padding-right: 12px;">
	Billing Information:<br />
	!!billing_address!!
</p>
	
<p style="color:#6c6c6c; font-size:14px; padding-right: 12px;">	
	!!cardtype!!: !!accountnumber!!<br />
	Expires: !!expirationmonth!!/!!expirationyear!!
</p>

<p style="color:#6c6c6c; font-size:14px; padding-right: 12px;">Log in to your membership account here: !!login_link!!</p>
<p style="color:#6c6c6c; font-size:14px; padding-right: 12px;">To view an online version of this invoice, click here: !!invoice_link!!</p>
