
<p style="color:#6c6c6c; font-size:14px; padding-right: 12px;">Thank you for your membership to !!sitename!!. This is just a reminder that your membership will end on !!enddate!!.</p>

<p style="color:#6c6c6c; font-size:14px; padding-right: 12px;">Account: !!display_name!! (!!user_email!!)</p>
<p style="color:#6c6c6c; font-size:14px; padding-right: 12px;">Membership Level: !!membership_level_name!!</p>

<p style="color:#6c6c6c; font-size:14px; padding-right: 12px;">Log in to your membership account here: !!login_link!!</p>
                         