
<p style="color:#6c6c6c; font-size:14px; padding-right: 12px;">Your membership at !!sitename!! has ended.</p>

<p style="color:#6c6c6c; font-size:14px; padding-right: 12px;">Thank you for your support.</p>

<p style="color:#6c6c6c; font-size:14px; padding-right: 12px;">View our current membership offerings here: !!levels_link!!</p>

<p style="color:#6c6c6c; font-size:14px; padding-right: 12px;">Log in to manage your account here: !!login_link!!</p>
                         