/*
Theme Name: Infographer
Theme URI: http://demo.qodeinteractive.com/infographer/
Description: Infographer Theme
Tags: infographic, statistics, chart, interactive, parallax, modern, urban, creative, portfolio, business, animated, one-page, multi-purpose, ajax
Author: Qode Interactive
Author URI: http://www.qodeinteractive.com/
Version: 1.1
License: GNU General Public License
License URI: licence/GPL.txt

*/

/*
CSS changes can be made in files in the /css/ folder. This is a placeholder file required by WordPress, so do not delete it.


Changelog

1.1
- Updated Revolution Slider to version 4.3.6
- Fixed WP 3.9 Qode Shortcodes button bug
- Fixed bug with repeating portfolio items on homepage

1.0.9
- Added image alt tag to flip image shortcode
- Updated Revolution Slider to version 4.2.3
- Fixed Service shortcode Chrome issue

1.0.8
- Fixed WP 3.8 notices
- Updated Revolution Slider to version 4.1.4

1.0.7
- Updated Revolution Slider to version 4.1.1
- Fixed accordion responsivneness
- Fixed retina social icon
- Fixed portfolio list for new version of Chrome

1.0.6
- Added link and target attribute in flip image shortcode
- Added link and target attribute in flip icon shortcode
- Added "..." to Latest Posts shortcode when text_length is defined
- Added VK social icon in social icon shortcode
- Updated Revolution Slider to version 3.0.95
- Fixed boxed layout css
- Fixed portfolio filter when portfolio list is in section
- Fixed position for service with animation shortcode when link enable
- Fixed contact page when recaptcha is enable

1.0.5
- Improved parallax for touch devices
- Improved performance
- Updated retina icons rendering
- Updated child theme
- Updated translation files
- Fixed logo resizing bug
- Fixed tabs
- Fixed google map info window bug

1.0.4
- Fixed post day style
- Fixed Blog template 3, emty space between title with image and content
- Fixed content menu positioning on Chrome and Firefox on Mac
- Fixed IE10 icon/images rotaion effects
- Fixed Content menu white line on left side (Chrome only)

1.0.3
- Added turn on/off delay of displaying elements on touch devices to Qode options
- Added attribute to image_with_text shortcode to align image
- Added category attribute to latest post shortcode
- Updated share icons
- Fixed content menu on touch devices
- Fixed showing logo on touch devices
- Fixed Contact form "from" value
- Fixed blog single title

1.0.2
- Fixed icons for social share
- Updated Revolution Slider to version 3.0.2 (TESTED AND BUG FREE VERSION)

1.0.1
- Added top and bottom padding attribute to "Section" shortcode
- Updated Revolution Slider to version 3.0
- Updated translation files
- Fixed link on logo in content menu
- Fixed logo appearance on load in content menu
- Fixed scroll to top when "dead" link is pressed
- Fixed parallax content width when boxed layout is on
- Fixed portfolio list changing back on full list, right after click on single project (with ajax on)

*/

nav.main_menu ul li a {
    letter-spacing: .3px;
}
nav.content_menu ul li a {
    letter-spacing: .3px;
    text-decoration: none !important;
}
p{
   /* font-family: "Open Sans",sans-serif !important;*/
    font-size: 16px !important;
    font-weight: 300 !important;
    line-height: 24px !important;   
}
a[style]{    
    text-decoration: none !important;
}
del{    
    display: block;
    text-align: center;
    color: #C1C1C1;
}
.price_table_inner ul li{ 
    font-size: 16px !important;
}
.header-inner.second-menu-wrapper nav.main_menu ul li a[style]{    
    text-decoration: none !important;
}
/*--------ACCA-Club-----------*/
blockquote p {    
    font-size: 19px !important;
}