/****************************************************
Add your custom styles for modules and plugins here
****************************************************/
table.bettingsitesslim {width:100%;}
table.bettingsitesslim  td {vertical-align:middle;border-top:1px solid #C3C3C3;text-align:center;}
table.bettingsitesslim  th {color: white;
background-color: #060;
text-align: center;
font-weight: bold;
text-transform: uppercase;
font-size: 14px;
padding:5px;}
.moduleSite {padding:5px;width:100px;}
.moduleFreeBet {padding: 0; font-size: 16px; width: 60px;}
.moduleDetails {padding-right: 10px;}

div.slimtablecontainer {float:right;width:330px;margin-left:15px;margin-bottom:10px;margin-top:5px;border:1px solid green;}



