/*************************************
Add your custom styles here
*************************************/

.jrListingDetail h1.contentheading {margin: 25px 0;}
.banner {margin:40px 0;text-align:center;}
.jrListingDetail h1.contentheading span {margin-right: 3px;vertical-align: middle;}
div.offerbutton {
text-align: center;
margin: 25px;
padding: 15px;
border: 1px solid #A80000;
border-radius: 5px;
-moz-border-radius: 5px;
font-size: 26px;
background: #AE0D15;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FE5959', endColorstr='#860000'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#FE5959), to(#860000)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #FE5959,  #860000); /* for firefox 3.6+ */
}

div.offerbutton a, div.offerbutton a:visited {color: rgb(243, 255, 195);}

.jrListingSummary, .jrListingDescription, .jrListingFulltext {
line-height: 1.5em;
}

div.offercontainer {
border: 1px solid #ddd;
background-color: #f5f3f3;
margin-top: 15px;
border-radius: 5px;
background: #eee; /* for non-css3 browsers */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#f5f3f3'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#f5f3f3)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #fdfdfd,  #f5f3f3); /* for firefox 3.6+ */
}



div.offerdetails {border-bottom: 1px solid rgb(206, 206, 206);margin: 10px;padding-bottom: 10px;}
div.offericon {width:100px;margin-right:10px;float:left;}
div.eventdate {width:100px;margin-right:10px;float:left;color:#fff;font-weight:bold;font-size:13px;height:25px;border-radius:3px;-moz-border-radius:3px;padding-top:5px;text-align:center;
background: #A80202; /* for non-css3 browsers */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#C80404', endColorstr='#810000'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#C80404), to(#810000)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #C80404,  #810000); /* for firefox 3.6+ */}
div.offertitle {float:left;font-weight:bold;line-height:30px;font-size:15px;}
div.offerclaim {
float: right;
line-height: 30px;
font-size: 15px;
text-transform: uppercase;
padding: 0px 10px;
height: 30px;
border-radius: 3px;
-moz-border-radius: 3px;
}
div.offerclaim a {}
div.offersummary {margin: 10px;}


span.brandicon {height:30px;width:100px;display:inline-block;background: url('/images/icons.png') no-repeat scroll 0 0;}
.contentSite {width:100px;}
td.contentFreeBet {font-weight: bold;
font-size: 24px;
width: 88px;}
td.contentInfo {
width: 140px;
font-size: 13px;
line-height: 140%;
font-weight: bold;
padding: 0 10px 0 0 !important;
}
.contentFeature {width:70px;}
.contentOffers {padding-right: 0px !important;
font-size: 13px;}
.contentOffers [class^="jrIcon"] {margin-right:0 !important;}

.contentReview {
width: 75px;
font-size: 13px;
}
.contentReview  a {}
.contentGo {width:75px;padding-left: 20px !important;}
.betnow {background-color: #009;padding: 7px 5px;border-radius: 3px;-moz-border-radius: 3px;}
.betnow a {color:#fff;}
.contentCasino {font-weight: bold;font-size: 16px;}
.notes {
}
table.bettingsites {
width:100%;
}
table.bettingsites th {
height: 30px;padding:5px 7px;vertical-align:middle;text-align:center;text-transform: uppercase;font-size: 12px;font-weight: bold;line-height:130%;border-bottom: 1px solid #C3C3C3;background-color: #AE0D15;color: #fff;
}
table.bettingsites td {
padding: 10px 7px 10px 7px;
vertical-align: middle;
text-align: center;
border-bottom: 1px solid rgb(226, 226, 226);
background-color: #f5f3f3;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#f5f3f3');
background: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#f5f3f3));
background: -moz-linear-gradient(top, #fdfdfd, #f5f3f3);
}
}

table.bettingsites tr.row2 td {background-color:#f7f7f7;}

td.contentCasinoBonus {min-width:200px;font-size: 16px;}


header {
    width: 100%;
    display: block;
    position: fixed;
    z-index: 2000;
    background-image: url(../img/menu_shadow.png);
    background-repeat: repeat-x;
    background-position: 0 bottom;
    padding: 0 0 3px 0
}

header .container {
    overflow: visible
}

body.boxed header {
    width: 1200px
}

header .header_outer {
    background-color: #262626;
    padding: 0 10px;
    display: block;
    z-index: 9000;
    -webkit-backface-visibility: hidden
}

header .header_inner {
    width: 100%;
    -webkit-backface-visibility: hidden
}

.logo {
    float: left;
    position: relative;
    margin: 0 25px 0 0
}

.logo a {
    position: relative;
    display: block;
    visibility: hidden;
    -webkit-backface-visibility: hidden
}

.logo img {
    display: block;
    position: relative;
    top: -50%;
    width: auto!important
}

.content_menu .logo {
    position: absolute;
    left: 1000px
}

.boxed .content_menu.fixed .logo {
    left: 40px
}

nav.main_menu {
    position: relative;
    z-index: 100;
    text-align: left
}

nav.main_menu.left {
    float: left
}

nav.main_menu.right {
    float: right
}

nav.main_menu ul {
    list-style: none outside none;
    margin: 0;
    padding: 0
}

nav.main_menu ul li {
    display: inline-block;
    float: left;
    padding: 0;
    margin: 0;
    text-align: center
}

nav.main_menu ul li a {
    font-family: 'Oswald',sans-serif;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    display: inline-block;
    position: relative;
    cursor: pointer;
    line-height: 80px;
    padding: 0 15px;
    margin: 0
}

nav.main_menu>ul>li.active>a,nav.main_menu>ul>li.has_sub:hover>a,nav.main_menu>ul>li:hover>a {
    color: #fff;
    background-color: #e91b23
}

nav.content_menu {
    position: relative;
    text-align: left;
    background-color: #e91b23;
    display: block;
    width: 1200px;
    padding: 0 1000px;
    margin: 0 -1000px 0 -1000px;
    z-index: 1001;
    -webkit-transform: translateZ(0px)
}

nav.content_menu ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: center;
    -webkit-backface-visibility: hidden
}

nav.content_menu ul li {
    display: inline-block;
    padding: 0;
    margin: 0 22px 0 22px;
    text-align: center;
    position: relative;
    -webkit-backface-visibility: hidden
}

nav.content_menu ul li .arrow {
    display: none;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 9px 0 9px;
    border-color: #e91b23 transparent transparent transparent;
    position: absolute;
    left: 50%;
    margin: 0 0 0 -10px;
    -webkit-backface-visibility: hidden
}

nav.content_menu.fixed {
    box-shadow: 0 -1px 5px #333
}

nav.content_menu.fixed ul li.active .arrow {
    display: block
}

nav.content_menu ul li a {
    font-family: 'Oswald',sans-serif;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
    line-height: 50px;
    padding: 0;
    margin: 0
}

nav.content_menu .back_outer {
    height: 50px;
    overflow: hidden;
    position: absolute;
    right: 1000px;
    top: 0;
    width: 29px;
    z-index: 100
}

.boxed nav.content_menu .back_outer {
    right: 40px
}

nav.content_menu .back {
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    margin: -300px 0 0 0
}

nav.content_menu .back a {
    display: block;
    position: relative;
    width: 29px;
    height: 29px;
    top: 50%;
    margin: -15px 0 0 0;
    background-image: url(../img/back.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: .6;
    filter: alpha(opacity=60)
}

nav.content_menu .back a:hover {
    opacity: 1;
    filter: alpha(opacity=100)
}

nav.content_menu .nav_select_menu {
    display: none
}

nav.content_menu .nav_select_menu .nav_select_button {
    background-image: url("../img/navigation.png");
    background-position: right center;
    background-repeat: no-repeat;
    cursor: pointer;
    display: block;
    height: 50px;
    position: relative;
    width: 30px;
    float: right
}

nav.content_menu .nav_select_menu ul {
    display: none;
    width: 100%;
    position: relative;
    top: 0;
    text-align: left;
    padding: 0 0 10px 0;
    float: left;
    z-index: 100;
    zoom:1}

nav.content_menu .nav_select_menu ul li {
    display: block;
    float: none;
    padding: 0;
    margin: 0;
    text-align: left;
    position: relative;
    -webkit-backface-visibility: hidden
}

nav.content_menu .nav_select_menu ul li a {
    line-height: 30px
}

.boxed nav.content_menu.fixed {
    margin: 0 0 0 -40px;
    padding: 0;
    width: 1200px
}

.selectnav {
    display: none;
    width: 100%;
    float: left;
    position: relative;
    top: 0;
    text-align: left
}

.selectnav ul li a {
    color: #fff;
    padding: 4px 10px;
    text-decoration: none;
    display: block;
    position: relative;
    font-size: 13px
}

.selectnav_button {
    display: none;
    float: right;
    padding: 25px 0
}

.selectnav_button span {
    width: 30px;
    height: 30px;
    z-index: 511;
    display: block;
    position: relative;
    background-image: url('../img/navigation.png');
    background-position: right center;
    background-repeat: no-repeat;
    cursor: pointer
}

.selectnav ul {
    display: none;
    width: 100%;
    background-color: #262626;
    position: relative;
    top: -8px;
    padding: 10px 0 10px 0
}

.header_right_widget {
    float: right;
    position: relative;
    line-height: 80px;
    margin: 0 0 0 25px
}

.header_right_widget .social_menu {
    display: inline-block;
    padding: 0 10px;
    margin: 0 5px 0 0
}

.header_right_widget a {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding: 0 10px
}

.header_right_widget a img {
    display: block;
    float: left;
    height: 18px
}

.header_right_widget .textwidget ul {
    margin: -6px 0 0 0;
    vertical-align: middle
}

.header_right_widget .textwidget ul li {
    margin: 0 0 0 10px
}

.header_right_widget #searchform {
    display: block;
    position: relative
}

.header_right_widget #searchform>div {
    display: inline-block;
    vertical-align: middle
}

.header_right_widget #searchform .screen-reader-text {
    display: none
}

.header_right_widget #searchform input[type="text"] {
    width: 80px;
    float: left;
    margin: 0 10px 0 0;
    padding: 5px 10px
}

.header_right_widget #searchform input[type="submit"] {
    width: 18px;
    height: 29px;
    float: left;
    margin: 0;
    padding: 0;
    background: 0;
    background-image: url(../img/search_icon.png);
    background-repeat: no-repeat;
    background-position: center;
    text-indent: -9999px
}

.drop_down ul li {
    position: relative;
    overflow: visible
}

.drop_down .second {
    left: 0;
    margin: 0;
    top: 80px;
    position: absolute;
    height: auto;
    display: block;
    visibility: hidden
}

.touch .drop_down ul li .second {
    height: auto!important;
    display: none!important;
    visibility: visible!important;
    overflow: visible!important
}

.touch .drop_down ul li:hover .second {
    height: auto!important;
    display: block!important;
    visibility: visible!important;
    overflow: visible!important
}

.drop_down .second .inner {
    background-color: transparent;
    padding: 0;
    display: block
}

.drop_down .second .inner2 {
    background-color: rgba(38,38,38,0.95);
    display: inline-block
}

.drop_down .second .inner2 ul {
    display: inline-block;
    float: left;
    position: relative;
    width: 230px;
    padding: 10px 0
}

.drop_down .second .inner2 ul li {
    display: block;
    padding: 0;
    position: relative;
    float: none;
    height: auto;
    background: 0;
    text-align: left
}

.drop_down .second .inner2 ul li a {
    font-family: 'Oswald',sans-serif;
    display: block;
    font-size: 15px;
    color: #8b8b8b;
    height: auto;
    line-height: 18px;
    margin: 0;
    padding: 12px 30px 12px 20px;
    -webkit-transition: all .2s ease 0s;
    -moz-transition: all .2s ease 0s;
    -o-transition: all .2s ease 0s
}

.drop_down .second .inner2 ul li:hover a {
    color: #fff
}

.drop_down .second .inner2 ul li.sub a {
    background-image: url("../img/sub_menu_arrow_right.png");
    background-position: right center;
    background-repeat: no-repeat
}

.drop_down .second .inner ul li ul {
    position: absolute!important;
    left: 100%;
    top: -10px;
    background-color: rgba(38,38,38,0.95);
    visibility: hidden;
    height: auto;
    display: block;
    overflow: hidden;
    padding: 10px 0
}

.touch .drop_down .second .inner ul li:hover ul {
    height: auto!important;
    display: block!important;
    visibility: visible!important;
    overflow: visible!important
}

.drop_down .second .inner2 ul li.sub ul li {
    padding: 0
}

.drop_down .second .inner2 ul li.sub ul li a {
    font-style: normal;
    color: #8b8b8b;
    background: 0;
    margin: 0;
    padding: 0 30px 0 20px -webkit-transition:all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s
}

.drop_down .second .inner2 ul li.sub ul li:hover a {
    color: #fff
}

.drop_down .second .inner2 ul li.sub ul li a {
    background: 0
}

.drop_down .second.right {
    right: 0;
    left: auto
}

.drop_down .second .inner2 ul.right li a {
    text-align: right;
    padding: 12px 20px 12px 30px
}

.drop_down .second .inner2 ul.right li:hover a {
    color: #fff
}

.drop_down .second .inner2 ul.right li ul {
    left: -100%
}

.drop_down .second .inner2 ul.right li.sub a {
    background-image: url("../img/sub_menu_arrow_left.png");
    background-position: 15px center;
    background-repeat: no-repeat
}

.drop_down .second .inner2 ul.right li.sub ul li {
    padding: 0
}

.drop_down .second .inner2 ul.right li.sub ul li a {
    font-style: normal;
    color: #4f4f4f;
    background: 0;
    margin: 0;
    padding: 0 20px 0 30px -webkit-transition:all .4s ease 0s;
    -moz-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s
}

.drop_down .second .inner2 ul.right li.sub ul li:hover a {
    color: #fff
}

.drop_down .second .inner2 ul.right li.sub ul li a {
    background: 0
}

.title {
    padding: 50px 0;
    display: block;
    position: relative
}

.title span {
    display: block;
    margin: 17px 0 0
}

.title.with_image {
    height: auto;
    line-height: normal;
    background: 0;
    padding: 0;
    margin: 0
}

.title.with_image img {
    display: block;
    width: 100%
}

.title.has_background {
    background-repeat: no-repeat;
    background-position: center 0;
    padding: 0;
    margin: 0;
    height: 350px
}

.title.with_image .container,.title.has_background .title_text,.title.has_fixed_background .title_text {
    position: absolute;
    bottom: 20%
}

.title.has_fixed_background {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 0;
    padding: 0;
    margin: 0;
    height: 350px
}

.title .title_text {
    width: 100%
}

.title .container,.title .container_inner {
    height: inherit
}

.no_title_gap {
    height: 65px
}

.main_menu a{
	font-weight:normal !important;
}