html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,font,img,ins,kbd,q,s,samp,small,strike,sub,sup,tt,var,center,dl,dt,dd,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {background:transparent;border:0;font-family:inherit;font-size:100%;font-style:inherit;font-weight:inherit;margin:0;padding:0;outline:0;vertical-align:baseline;}
table {border-collapse:collapse;border-spacing:0;}


.listbox {padding: 10px;
margin-bottom: 10px;
border: 1px solid #ddd;
background-color: #fefefe;
background-image: -moz-linear-gradient(top, #fff, #fbfbfb);
background-image: -o-linear-gradient(top, #fff, #fbfbfb);
background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0, #fff), color-stop(1, #fbfbfb));
background-image: -webkit-linear-gradient(#fff, #fbfbfb);
background-image: linear-gradient(top, #fff, #fbfbfb);
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;}


.listbox h3 {
font-size: 17px;
padding: 10px 15px;
background: #AE0D15;
  color:#fff;
margin: -10px -10px 15px -10px;
border-radius: 5px 5px 0 0;
-moz-border-radius: 5px 5px 0 0;
-webkit-border-radius: 5px 5px 0 0;
}

.listimage {float:right;margin-left:15px;margin-bottom: 5px;}

.listimage img {border: 1px solid rgb(204, 204, 204);padding: 1px;}

.listimagevisit {text-align: center;margin-top: 10px;font-size:16px;}

.listboxvisit {
border: 1px solid #ddd;
background-color: #f5f3f3;
margin-top: 15px;
border-radius: 5px;
background: #eee;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#f5f3f3');
background: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#f5f3f3));
background: -moz-linear-gradient(top, #fdfdfd, #f5f3f3);
text-align: center;
padding: 5px;
text-transform: uppercase;
font-size: 18px;}


.yellow {color: yellow !important;}

.redheading {background: #AE0D15;color: #fff;padding: 7px 10px;}
.greyheading {background: #eee;padding: 5px 10px;border-bottom: 2px solid #ccc;}

div.bluebutton {
text-align: center;
margin: 25px 0 0 0;
padding: 10px;
border: 1px solid #1B00A8;
border-radius: 5px;
-moz-border-radius: 5px;
font-size: 24px;
background: #AE0D15;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5959FE', endColorstr='#001B86');
background: -webkit-gradient(linear, left top, left bottom, from(#5959FE), to(#001B86));
background: -moz-linear-gradient(top, #5959FE9, #001B86);
}

div.bluebutton a,div.bluebutton a:visited {color:#fff;}
div.bluebutton a:hover {color:yellow;}

.squareboxouter {border:1px solid #DBDBDB;margin:15px 0;}
.squareboxinner {background-color: #f5f3f3;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#f5f3f3');
background: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#f5f3f3));
background: -moz-linear-gradient(top, #fdfdfd, #f5f3f3);}
.sbleft {
float: left;
border: 1px solid #fff;
}
.sbright {font-size: 13px;}

div.sbright ul {margin-left:250px;}
div.sbright li {padding:2px 0;}
div.sbright h2 {margin:0;padding:10px 235px;}
div.sbright h3 {margin: 0 0 5px 235px;
font-size: 140%;
padding: 10px 0 9px 0;
border-bottom: 1px solid #DBDBDB;}

div.offercontainer {
border: 1px solid #ddd;
background-color: #f5f3f3;
margin-top: 15px;
  margin-bottom: 15px;
border-radius: 5px;
background: #eee;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#f5f3f3');
background: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#f5f3f3));
background: -moz-linear-gradient(top, #fdfdfd, #f5f3f3);
}

div.offerdetails {
border-bottom: 1px solid rgb(206, 206, 206);
margin: 10px;
padding-bottom: 10px;
}

div.offericon {
width: 100px;
margin-right: 10px;
float: left;
}

div.offertitle {
float: left;
font-weight: bold;
line-height: 30px;
font-size: 15px;
}

div.offerclaim {
float: right;
line-height: 30px;
font-size: 15px;
text-transform: uppercase;
padding: 0px 10px;
height: 30px;
border-radius: 3px;
-moz-border-radius: 3px;
background:#009;
}

div.offerclaim a {color:#fff;}

div.offersummary {
margin: 10px;
}

p {text-align:justify;}
h2.center {text-align:center;margin-bottom:0;}

h2.center {text-align:center;margin-bottom: 0;padding:0 !important;border:none !important;}
#message {border-top: 1px solid #AE0D15;}

.msubmenu {background-color: #FFF2F2;border-left: 1px solid #AE0D15;border-right: 1px solid #AE0D15;font-weight:bold;}
.msubmenu .module-body {padding:8px 15px !important;}
.msubmenu ul {margin:0 !important;}
.msubmenu ul.left li {float:left;margin-left:25px;list-style:none;padding:0 !important;}
.msubmenu ul.right li {float:right;margin-right:15px;list-style:none;}
.msubmenu table {width:100%;}
.msubmenu table td {vertical-align:middle;}
.msubmenu .network {width:120px;}
.msubmenu .payment {width:175px;text-align:right;}

span.siteicon {
display: inline-block;
height: 30px;
width: 100px;
background: url('/images/icons.png') no-repeat scroll;
border-radius:3px;
-moz-border-radius:3px;
}


.mbanner {}
.mbanner .module-body {padding:0;border:none !important;}
#col1 {margin-right: 15px;}

.mfooter {font-size:12px;}
.mfooter .module-body {padding:10px 5px;}

#col3 .module {margin: 15px 0;}
#col3 .module-title {text-align: center;font-weight: bold;margin: 0;padding: 7px 15px 5px;color: white;background-color: #AE0D15;}
#col3 ul li {color:#AE0D15;}
#col3 .module-body {}

#mainmods2 .module-body {padding:0 !important;}

/* Main Layout */
html {height:100%;margin-bottom:1px;background-color:#eee;}
body {font:14px Helvetica, Arial, sans-serif;color:#000;}
h1,h2,h3,h4,.componentheading,legend {font-weight:bold;margin: 25px 0 20px 0;}
h1,.componentheading {font-size:180%;line-height: 150%;}
h2,legend {font-size:150%;}

h3 {font-size: 120%;margin: 25px 0 15px 0;}
h4 {font-size:110%;}
a {color:#C00000;text-decoration:none;font-weight:bold;}
a:hover {text-decoration:underline;}
ul {margin-left:20px;}
ul li {list-style:solid;padding:4px 0;}
p {margin-top:10px;margin-bottom:10px;}
#main {line-height:1.5em;}

#main .foreground, #message, #showcase, .leading, #page {position:relative;}
#message, #showcase {z-index:0;}
#main-content {background-color:#fff;padding:0 15px 15px 15px;}
.dp20,.dp25,.dp33,.dp50,.dp100 {float:left;margin-top:15px;}
.dp20 {width:20%;}
.dp25 {width:25%;}
.dp33 {width:33.33%;}
.dp50 {width:50%;}
.dp100 {width:100%;margin-top:0;}
.clr {clear:both;font-size:0;}
#colmask {clear:both;overflow:hidden;position:relative;width:100%;}
#maincol, #wrapper {position:relative;}
#wrapper {}
.s-c-s #colmid, .s-c-x #colright {float:left;position:relative;width:200%;}
.s-c-s #colright {float:left;left:50%;position:relative;width:100%;}
.s-c-s #col1wrap {float:right;position:relative;right:100%;width:50%;}
.s-c-s #col1pad, .x-c-s #col1, .x-c-s #colmid {overflow:hidden;}
.s-c-s #col1 {overflow:hidden;width:100%;}
.s-c-s #col2 {float:left;position:relative;overflow:hidden;margin-left:-50%;}
.s-c-s #col3 {float:left;position:relative;overflow:hidden;left:0;}
.s-c-x #col1wrap {float:right;position:relative;width:50%;}
.s-c-x #col1 {overflow:hidden;position:relative;right:100%;}
.s-c-x #col2 {float:left;position:relative;}
.x-c-s #colright {float:left;position:relative;right:100%;width:200%;}
.x-c-s #col1wrap {float:left;left:50%;position:relative;width:50%;}
.x-c-s #col3 {float:right;position:relative;}
.s-c-s .ctr-color1, .s-c-s .ckl-color1, .s-c-x .ckl-color1, .x-c-s .cdr-color1 {}
.s-c-s .ctr-color2, .s-c-s .ckl-color2, .s-c-x .ckl-color2, .x-c-s .cdr-color2 {}
.s-c-s #col1pad, .s-c-x #colright, .x-c-s #colright, #wrapper, body {}
.cols1 {display:block;float:none;margin:0;width:100%;}
.cols2 {width:49%;overflow:hidden;}
.cols3 {width:30%;}
.column1, .column2 {position:relative;float:left;margin:0;}
.colpad {padding:0 10px;position:relative;}
.column2 {float:right;width:49%;}
.article_row {overflow:hidden;margin:0 -10px 15px -10px;}

/* Header */
#logo {
width: 980px;
height: 130px;
background: url(/images//betting-offers-header-2.png) 0 0 no-repeat;
display: block;
margin: 0;
}
#header {overflow:hidden;border-bottom:1px solid #AE0D15;}
#header li {list-style:none;float:left;padding-left:15px;font-weight:bold;}
#nav {background-color:#AE0D15;border-top:1px solid #fff;border-bottom:1px solid #fff;}
#nav ul {margin:0;}
#nav li {list-style:none;float:left;padding:5px;position:relative;}
#nav li a {display:block;padding:0 10px;line-height:30px;color:#fff;font-weight:bold;font-size: 14px;}
#nav li.active a {}
#nav li a:hover, #nav li:hover a, #nav li.sfHover a {}
#nav li ul {position:absolute;width:170px;left:-999em;margin-left:-1px;border:1px solid #006B9F;border-top:0;}
#nav li ul ul {margin:-31px 0 0 170px;}
#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li:hover ul ul ul ul, #nav li.sfHover ul ul, #nav li.sfHover ul ul ul, #nav li.sfHover ul ul ul ul {left:-999em;}
#nav li li {padding:0;height:auto;background:#fff;width:170px;}
#nav li li a, #nav li li.active a, #nav li li a:hover {margin:0;height:30px;line-height:30px;background:#fff;border-top:1px solid #006B9F;color:#007EBA;}
#nav li li a, #nav li.active li a {font-weight:normal;}
#nav li:hover ul, #nav li.sfHover ul {left:4px;}
#nav li li:hover ul, #nav li li li:hover ul, #nav li li li li:hover ul, #nav li li.sfHover ul, #nav li li li.sfHover ul, #nav li li li li.sfHover ul {left:0;}

/* Showcase */
#showcase {margin:3px 0 8px 0;position:relative;color:#000;}
#showcase .background {position:absolute;width:100%;height:130px;background:url(../images/light.png) 0 -514px repeat-x;}
#showcase .foreground {border:1px solid #dfeaee;overflow:hidden;padding-bottom:25px;}
#showcase h1 {font-weight:normal;font-size:3.0em;line-height:105%;margin:25px 55px 10px 25px;}
#showcase h3 {font-weight:normal;font-size:1.4em;font-weight:normal;margin:0 55px 20px 25px;}
#showcase b {font-weight:normal;color:#d03100;}
#showcase .pad {padding:0 50px 25px 25px;}
#showcase .num {float:left;background:#d03100;text-align:center;line-height:90%;color:#fff;font-size:2em;padding:3px 8px;}
#showcase .pad h2 {font-size:1.4em;font-weight:bold;margin:0 0 5px 40px;}
#showcase .pad p {margin-left:40px;}

/* Content styles */
p.buttonheading {position:absolute;top:2px;right:10px;margin:0;}
.buttonheading .icon {display:block;width:16px;height:16px;float:left;margin-left:5px;}
.buttonheading .pdf {background:url(../images/light.png) -57px -366px;}
.buttonheading .print {background:url(../images/light.png) -21px -366px;}
.buttonheading .email {background:url(../images/light.png) -39px -366px;}
.iteminfo {font-size:90%;overflow:hidden;border-bottom:1px solid #dedede;margin-bottom:20px;display:block;margin-top:-10px;width:100%;}
.modifydate, .createdby, .createdate {display:block;}
.createdby {font-weight:bold;}
a.readon, a.readon2 {display:block;margin-top:15px;font-style:italic;}
a.readon2 {background:url(../images/light.png) 100% -344px;display:block;float:right;color:#fff;font-weight:bold;line-height:20px;}
a.readon2 span {background:url(../images/light.png) 0 -344px;display:block;margin-right:10px;height:21px;float:left;padding:0 5px 0 15px;}
.breadcrumbs-pad {padding:0 1px;}
div.breadcrumbs {background:url(../images/light.png) 0 -68px repeat-x;border-bottom:1px solid #e6e6e6;font-size:110%;font-weight:bold;margin:0;padding:7px 15px 5px;color:#777;border-top:1px solid #d9d9d9;}
div.breadcrumbs .sep {padding:0 5px;}
.component-pad {padding:0;}
.banneritem_text {margin-bottom:10px;}
#modlgn_username, #modlgn_passwd {border:1px solid #ccc;padding:3px;}
.pagination span, .pagination a {margin-right:5px;}
#colmask ul li {list-style:solid;}
#colmask ul ul {margin-top:0;}
#colmask ul ul li {list-style:square;}
.item-page,
.category-list {position: relative;}
#colmask .component-pad .actions {position: absolute;right: 0;top: 0;margin: 0;}
.category-list .hasTip {position:absolute;right:19px;top:2px}
.category-list .actions .hasTip {position:static}
.item-page fieldset {margin-bottom:3em}
.mceEditor {display: block;margin:1em 0}
.formelm {margin-bottom:0.6em}
.button2-left {float:left;margin-right:1em}
#colmask .component-pad .actions li,
#colmask .pagenav li,
#colmask .pagination li {list-style: none;display:inline}
.pagenav {text-align: center;}
.blog-featured .cols-3 .item {display: inline-block;width: 48%;vertical-align: top;}
.blog-featured .cols-3 .item:nth-child(2n+1) {margin-right: 3%;}
.readmore,.article-count,table.category th,.pagenavcounter {font-style: italic;}
table.category td,table.category th {padding-right: 20px;}
table.category th a {font-weight: normal;}
.image-left,
img[align="left"] {float: left;margin-right: 10px;}
.article-count {padding-bottom: 1em;}
.article-count dt,
.article-count dd,
.contact-address address,
#form-login-remember label {display: inline;}
table.category th a img {margin-left: 5px;}
.login-fields,
.display-limit,
.reset,
form dd {margin-bottom: 10px;}
.login-fields label,.item-page label {display: block;}
legend {padding-bottom: 1em;}
.colpad h2.contentheading {padding-right:65px;}
.sectiontableheader {font-weight:bold;line-height:25px;text-align:left;}
tr.sectiontableentry0 td, tr.sectiontableentry1 td, tr.sectiontableentry2 td, td.sectiontableentry0, td.sectiontableentry1, td.sectiontableentry2 {text-align:left;padding:0 4px;vertical-align:middle;border-top:1px solid #ddd;line-height:30px;}
span.attention {display:block;margin:15px 0;padding:8px 10px 8px 10px;background:#FFF3A3;border:1px solid #E7BD72;color:#B79000;}

/* Modules */
.module {}
.module-title {font-size:110%;font-weight:bold;margin:0;padding:7px 15px 5px;}
.module-body {padding:15px;}
.color1 .module-title {}
.color1 .module-body {}
.color2 .module-title {}
.color2 .module-body {}
#colmask .m_menu {}
#colmask .m_menu .module-title {}
#colmask .m_menu .module-body {}
#colmask .m_menu a {}
#colmask .m_menu ul {margin:0 1em;}
#mainmods, #mainmods2, #mainmods3 {overflow:hidden;}
#mainmods3 {background:#eee;border-top:1px solid #fff;border-bottom:1px solid #ddd;}
.spacer .module {float:left;}
.spacer.w99 .module {width:100%;}
.spacer.w49 .module {width:49.2%;}
.spacer.w33 .module {width:32.8%;}
#header .module {float:right;margin-left:325px;margin-top: 30px;}
#header .module-body {padding:0;} 
#main-content li .active a {font-weight: normal;}

/* Footer */
#footer {background:#f7f7f7;border-top:1px solid #fff;}
.footer-pad {padding:10px 15px;overflow:hidden;}
#logo2 {width:165px;height:20px;background:url(../images/light.png) 5px -646px no-repeat;display:block;float:right;margin-left:15px;margin-top:15px;}
#footer ul {margin:0;}
#footer li {list-style:none;float:left;padding-right:20px;font-weight:bold;}

/* Responsive */

@media (max-width: 600px) {

#wrapper {max-width: 100%;}
.x-c-s #colright {float: none;position: relative;right: 0;width: 100%;}
.x-c-s #colright {margin-left: 0;}
.x-c-s #col1wrap {float: none;left: 0;position: relative;width: 100%;}
.x-c-s #col1 {margin-left: 0;}
#col1 {margin-right: 0;}
.x-c-s #col3 {float: none;position: relative;}
.x-c-s #col3 {left: 0;width: 100%;}
.mbanner {text-align: center;}
.contentOffers {display:none;}
.contentFreeBet {display:none;}
.contentGo {display:none;}
.sbright ul {margin-left: 25px !important;text-align: left;margin-top: 10px;margin-bottom: 10px;}
.sbright h3 {margin: 0 !important;text-align:center;}
.sbleft {float: none;border: none;text-align:center;margin-top:10px;}
div.offerbutton {line-height: 30px;}
#logo {width: 320px;height: 105px;background: url(/images/betting-offers-logo-small.png) 0 0 no-repeat;display: block;margin: 0;max-width: 100%;margin: auto;}
div.offericon {width: 100px;margin-right: 0;float: none;margin: auto;}
div.offertitle {float: none;font-weight: bold;line-height: 30px;font-size: 15px;text-align: center;margin-top: 10px;margin-bottom: 10px;}
div.offerclaim {float: none;line-height: 30px;font-size: 15px;text-transform: uppercase;padding: 0px 10px;height: 30px;border-radius: 3px;-moz-border-radius: 3px;background: #009;text-align: center;}
}


@media (max-width: 450px) {
.listimage {float:none;margin:auto;text-align:center;}
.listimage img {max-width:100%;}
}