/*************************************
Buttons & Links
*************************************/
.jrButton,
input.jrButton {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  float: none;
  padding: 3px 8px;
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  text-transform: none;
  font-weight: normal;
  height: auto;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
  color: #333333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #e6e6e6;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #bbbbbb;
  *border: 0;
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  *margin-left: .3em;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  -webkit-transition: 0;
  -moz-transition: 0;
  -ms-transition: 0;
  -o-transition: 0;
  transition: 0;
}
.jrButton:hover,
input.jrButton:hover,
.jrButton:active,
input.jrButton:active,
.jrButton.jrActive,
input.jrButton.jrActive {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}
.jrButton:active,
input.jrButton:active,
.jrButton.jrActive,
input.jrButton.jrActive {
  background-color: #cccccc \9;
}
.jrButton:first-child,
input.jrButton:first-child {
  *margin-left: 0;
}
.jrButton:hover,
input.jrButton:hover {
  text-decoration: none;
  background-color: #ebebeb;
  background-image: -moz-linear-gradient(top, #e6e6e6, #f2f2f2);
  background-image: -ms-linear-gradient(top, #e6e6e6, #f2f2f2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e6e6e6), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, #e6e6e6, #f2f2f2);
  background-image: -o-linear-gradient(top, #e6e6e6, #f2f2f2);
  background-image: linear-gradient(top, #e6e6e6, #f2f2f2);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6e6e6', endColorstr='#f2f2f2', GradientType=0);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.jrButton:focus,
input.jrButton:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.jrButton.jrActive,
input.jrButton.jrActive,
.jrButton:active,
input.jrButton:active {
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}
.jrButton.jrDisabled,
input.jrButton.jrDisabled,
.jrButton[disabled],
input.jrButton[disabled] {
  cursor: default;
  background-color: #e6e6e6;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.jrButton:first-child,
input.jrButton:first-child {
  *margin-left: 0;
}
/* Cross Browser */
button.jrButton,
input[type="submit"].jrButton {
  *padding-top: 2px;
  *padding-bottom: 2px;
}
button.jrButton::-moz-focus-inner,
input[type="submit"].jrButton::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button.jrButton.jrLarge,
input[type="submit"].jrButton.jrLarge {
  *padding-top: 6px;
  *padding-bottom: 6px;
}
button.jrButton.jrSmall,
input[type="submit"].jrButton.jrSmall {
  *padding-top: 2px;
  *padding-bottom: 2px;
}
/* Icon only buttons */
.jrButton.jrIconOnly > [class^="jrIcon"] {
  margin: 0;
}
/* Button sizes */
.jrButton.jrLarge {
  padding: 6px 10px;
  font-size: 15px;
  line-height: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.jrButton.jrSmall {
  padding: 2px 6px;
  font-size: 11px;
  line-height: 16px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
/* Colored buttons */
.jrButton.jrRed {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #da4f49;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -ms-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(top, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#bd362f', GradientType=0);
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #bd362f;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.jrButton.jrRed:hover,
.jrButton.jrRed:active,
.jrButton.jrRed.jrActive {
  color: #ffffff;
  background-color: #bd362f;
  *background-color: #a9302a;
}
.jrButton.jrRed:active,
.jrButton.jrRed.jrActive {
  background-color: #942a25 \9;
}
.jrButton.jrRed:hover {
  background-color: #d03d37;
  background-image: -moz-linear-gradient(top, #bd362f, #ec4844);
  background-image: -ms-linear-gradient(top, #bd362f, #ec4844);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#bd362f), to(#ec4844));
  background-image: -webkit-linear-gradient(top, #bd362f, #ec4844);
  background-image: -o-linear-gradient(top, #bd362f, #ec4844);
  background-image: linear-gradient(top, #bd362f, #ec4844);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bd362f', endColorstr='#ec4844', GradientType=0);
}
.jrButton.jrRed.jrActive,
.jrButton.jrRed:active {
  background-color: #ce1a15;
  background-color: #b71713 \9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}
.jrButton.jrRed.jrDisabled,
.jrButton.jrRed[disabled] {
  cursor: default;
  background-color: #e51d18;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.jrButton.jrGreen {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5bb75b;
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -ms-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(top, #62c462, #51a351);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#51a351', GradientType=0);
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #51a351;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.jrButton.jrGreen:hover,
.jrButton.jrGreen:active,
.jrButton.jrGreen.jrActive {
  color: #ffffff;
  background-color: #51a351;
  *background-color: #499249;
}
.jrButton.jrGreen:active,
.jrButton.jrGreen.jrActive {
  background-color: #408140 \9;
}
.jrButton.jrGreen:hover {
  background-color: #50ad50;
  background-image: -moz-linear-gradient(top, #51a351, #4fbd4f);
  background-image: -ms-linear-gradient(top, #51a351, #4fbd4f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#51a351), to(#4fbd4f));
  background-image: -webkit-linear-gradient(top, #51a351, #4fbd4f);
  background-image: -o-linear-gradient(top, #51a351, #4fbd4f);
  background-image: linear-gradient(top, #51a351, #4fbd4f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#51a351', endColorstr='#4fbd4f', GradientType=0);
}
.jrButton.jrGreen.jrActive,
.jrButton.jrGreen:active {
  background-color: #348c34;
  background-color: #2d792d \9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}
.jrButton.jrGreen.jrDisabled,
.jrButton.jrGreen[disabled] {
  cursor: default;
  background-color: #3b9e3b;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.jrButton.jrBlue,
.jrButton.jrUpload {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #3d75e4;
  background-image: -moz-linear-gradient(top, #4d81e8, #2463de);
  background-image: -ms-linear-gradient(top, #4d81e8, #2463de);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4d81e8), to(#2463de));
  background-image: -webkit-linear-gradient(top, #4d81e8, #2463de);
  background-image: -o-linear-gradient(top, #4d81e8, #2463de);
  background-image: linear-gradient(top, #4d81e8, #2463de);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4d81e8', endColorstr='#2463de', GradientType=0);
  border-color: #2463de #2463de #18459e;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #2463de;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.jrButton.jrBlue:hover,
.jrButton.jrUpload:hover,
.jrButton.jrBlue:active,
.jrButton.jrUpload:active,
.jrButton.jrBlue.jrActive,
.jrButton.jrUpload.jrActive {
  color: #ffffff;
  background-color: #2463de;
  *background-color: #1e59ca;
}
.jrButton.jrBlue:active,
.jrButton.jrUpload:active,
.jrButton.jrBlue.jrActive,
.jrButton.jrUpload.jrActive {
  background-color: #1b4fb4 \9;
}
.jrButton.jrBlue:hover,
.jrButton.jrUpload:hover {
  background-color: #2b69e1;
  background-image: -moz-linear-gradient(top, #2463de, #3671e5);
  background-image: -ms-linear-gradient(top, #2463de, #3671e5);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2463de), to(#3671e5));
  background-image: -webkit-linear-gradient(top, #2463de, #3671e5);
  background-image: -o-linear-gradient(top, #2463de, #3671e5);
  background-image: linear-gradient(top, #2463de, #3671e5);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2463de', endColorstr='#3671e5', GradientType=0);
}
.jrButton.jrBlue.jrActive,
.jrButton.jrUpload.jrActive,
.jrButton.jrBlue:active,
.jrButton.jrUpload:active {
  background-color: #2061e2;
  background-color: #1b57ce \9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}
.jrButton.jrBlue.jrDisabled,
.jrButton.jrUpload.jrDisabled,
.jrButton.jrBlue[disabled],
.jrButton.jrUpload[disabled] {
  cursor: default;
  background-color: #1b57ce;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.jrButton.jrOrange {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #f55800;
  background-image: -moz-linear-gradient(top, #ff5c00, #e75300);
  background-image: -ms-linear-gradient(top, #ff5c00, #e75300);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff5c00), to(#e75300));
  background-image: -webkit-linear-gradient(top, #ff5c00, #e75300);
  background-image: -o-linear-gradient(top, #ff5c00, #e75300);
  background-image: linear-gradient(top, #ff5c00, #e75300);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5c00', endColorstr='#e75300', GradientType=0);
  border-color: #e75300 #e75300 #9b3800;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #e75300;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.jrButton.jrOrange:hover,
.jrButton.jrOrange:active,
.jrButton.jrOrange.jrActive {
  color: #ffffff;
  background-color: #e75300;
  *background-color: #ce4a00;
}
.jrButton.jrOrange:active,
.jrButton.jrOrange.jrActive {
  background-color: #b44100 \9;
}
.jrButton.jrOrange:hover {
  background-color: #e65300;
  background-image: -moz-linear-gradient(top, #e75300, #e65300);
  background-image: -ms-linear-gradient(top, #e75300, #e65300);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e75300), to(#e65300));
  background-image: -webkit-linear-gradient(top, #e75300, #e65300);
  background-image: -o-linear-gradient(top, #e75300, #e65300);
  background-image: linear-gradient(top, #e75300, #e65300);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e75300', endColorstr='#e65300', GradientType=0);
}
.jrButton.jrOrange.jrActive,
.jrButton.jrOrange:active {
  background-color: #cc4a00;
  background-color: #b34000 \9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}
.jrButton.jrOrange.jrDisabled,
.jrButton.jrOrange[disabled] {
  cursor: default;
  background-color: #b34000;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.jrButton.jrDark {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #363636;
  background-image: -moz-linear-gradient(top, #444444, #222222);
  background-image: -ms-linear-gradient(top, #444444, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
  background-image: -webkit-linear-gradient(top, #444444, #222222);
  background-image: -o-linear-gradient(top, #444444, #222222);
  background-image: linear-gradient(top, #444444, #222222);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#222222', GradientType=0);
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #222222;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.jrButton.jrDark:hover,
.jrButton.jrDark:active,
.jrButton.jrDark.jrActive {
  color: #ffffff;
  background-color: #222222;
  *background-color: #151515;
}
.jrButton.jrDark:active,
.jrButton.jrDark.jrActive {
  background-color: #080808 \9;
}
.jrButton.jrDark:hover {
  background-color: #2b2b2b;
  background-image: -moz-linear-gradient(top, #222222, #373737);
  background-image: -ms-linear-gradient(top, #222222, #373737);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#373737));
  background-image: -webkit-linear-gradient(top, #222222, #373737);
  background-image: -o-linear-gradient(top, #222222, #373737);
  background-image: linear-gradient(top, #222222, #373737);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#222222', endColorstr='#373737', GradientType=0);
}
.jrButton.jrDark.jrActive,
.jrButton.jrDark:active {
  background-color: #111111;
  background-color: #040404 \9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}
.jrButton.jrDark.jrDisabled,
.jrButton.jrDark[disabled] {
  cursor: default;
  background-color: #1e1e1e;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
a.jrButton,
.jrButton a:link,
.jrButton a:visited {
  text-decoration: none !important;
  color: #333333 !important;
}
.jrLinkButton {
  margin-top: 5px;
  display: inline-block;
  position: relative;
  background-color: transparent;
  background-image: none;
  cursor: pointer;
  border: 0;
  padding: 0;
}
.jrLinkButton:hover {
  border: 0;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.jrButtonGroup {
  position: relative;
  *zoom: 1;
  *margin-left: .3em;
}
.jrButtonGroup:before,
.jrButtonGroup:after {
  display: table;
  content: "";
  line-height: 0;
}
.jrButtonGroup:after {
  clear: both;
}
.jrButtonGroup:first-child {
  *margin-left: 0;
}
.jrButtonGroup > .jrButton {
  position: relative;
  float: left;
  margin-left: -1px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.jrButtonGroup > .jrButton:first-child {
  margin-left: 0;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
}
.jrButtonGroup > .jrButton:last-child {
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
}
.jrButtonGroup > .jrButton.jrSmall:first-child {
  margin-left: 0;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-left-radius: 3px;
}
.jrButtonGroup > .jrButton.jrSmall:last-child {
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  border-bottom-right-radius: 3px;
}
/*************************************
Dropdowns
*************************************/
.jrDropdown {
  position: relative;
  display: inline-block !important;
  *display: inline !important;
  *z-index: 99999;
}
.jrDropdown:hover {
  background-image: none !important;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.jrDropdown .jrDropdownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 999;
  float: left;
  display: none;
  min-width: 140px;
  max-width: 220px;
  padding: 4px 0  !important;
  margin: 0  !important;
  list-style: none !important;
  background-color: #fff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
}
.jrDropdown:hover .jrDropdownMenu {
  display: block;
}
.jrDropdown .jrDropdownMenu li {
  margin: 0;
  padding: 0;
  background: none;
}
.jrDropdown .jrDropdownMenu li a {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #555;
  white-space: nowrap;
  text-align: left;
}
.jrDropdownMenu li > a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #eee;
}
.jrDropdown .jrArrow {
  display: inline-block;
  width: 0;
  height: 0;
  text-indent: -99999px;
  *text-indent: 0;
  vertical-align: text-top;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #000;
  opacity: 0.7;
  filter: alpha(opacity=70);
  content: "\2193";
  margin-top: 6px;
  margin-left: 4px;
}
.jrDropdown.jrSmall .jrArrow {
  margin-top: 5px;
  margin-left: 5px;
}
.jrDropdown .jrDivider {
  height: 1px;
  margin: 5px 1px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
  *width: 100%;
  *margin: -5px 0 5px;
}
.jrDropdown.jrSmall .jrDropdownMenu {
  min-width: 120px;
  max-width: 180px;
  _width: 120px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
}
.jrDropdown.jrSmall .jrDropdownMenu li a {
  padding: 2px 10px;
  line-height: 16px;
}
/* Manage Dropdown */
.jrDropdown.jrManage .jrManageText {
  display: none;
}
/*************************************
Headings
*************************************/
/* Page title */
h1.contentheading,
.contentheading {
  margin-bottom: .5em;
  border: 0;
}
/* Status Indicators (new, hot, featured) */
.jrStatusIndicators {
  margin: 0;
  padding: 0;
  position: relative;
  top: -3px;
}
.jrStatusIndicators span {
  padding: 1px 2px;
  font-size: 9.75px;
  line-height: 13.5px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-family: sans-serif;
  color: #fff;
  white-space: nowrap;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.jrStatusIndicators .jrStatusFeatured {
  background-color: #6aa4d0;
  background-image: -moz-linear-gradient(top, #8cb9da, #3684c0);
  background-image: -ms-linear-gradient(top, #8cb9da, #3684c0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8cb9da), to(#3684c0));
  background-image: -webkit-linear-gradient(top, #8cb9da, #3684c0);
  background-image: -o-linear-gradient(top, #8cb9da, #3684c0);
  background-image: linear-gradient(top, #8cb9da, #3684c0);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cb9da', endColorstr='#3684c0', GradientType=0);
}
.jrStatusIndicators .jrStatusNew {
  background-color: #a0cb00;
  background-image: -moz-linear-gradient(top, #b6e100, #7faa00);
  background-image: -ms-linear-gradient(top, #b6e100, #7faa00);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b6e100), to(#7faa00));
  background-image: -webkit-linear-gradient(top, #b6e100, #7faa00);
  background-image: -o-linear-gradient(top, #b6e100, #7faa00);
  background-image: linear-gradient(top, #b6e100, #7faa00);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b6e100', endColorstr='#7faa00', GradientType=0);
}
.jrStatusIndicators .jrStatusHot {
  background-color: #e3aa1a;
  background-image: -moz-linear-gradient(top, #f0b521, #d0990f);
  background-image: -ms-linear-gradient(top, #f0b521, #d0990f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f0b521), to(#d0990f));
  background-image: -webkit-linear-gradient(top, #f0b521, #d0990f);
  background-image: -o-linear-gradient(top, #f0b521, #d0990f);
  background-image: linear-gradient(top, #f0b521, #d0990f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0b521', endColorstr='#d0990f', GradientType=0);
}
/* Page separators */
.jrHeading {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 7px 10px !important;
  margin: 30px 0 20px !important;
  color: #333;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #f9f9f9, #f0f0f0);
  background-image: -ms-linear-gradient(top, #f9f9f9, #f0f0f0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9), to(#f0f0f0));
  background-image: -webkit-linear-gradient(top, #f9f9f9, #f0f0f0);
  background-image: -o-linear-gradient(top, #f9f9f9, #f0f0f0);
  background-image: linear-gradient(top, #f9f9f9, #f0f0f0);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#f0f0f0', GradientType=0);
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  -webkit-box-shadow: inset 0 0 30px #dddddd;
  -moz-box-shadow: inset 0 0 30px #dddddd;
  box-shadow: inset 0 0 30px #dddddd;
}
.jrHeadingGray {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 7px 10px !important;
  margin: 30px 0 20px !important;
  color: #333;
  border: 1px solid #ccc;
  background-color: #e8e8e8;
  background-image: -moz-linear-gradient(top, #eeeeee, #e0e0e0);
  background-image: -ms-linear-gradient(top, #eeeeee, #e0e0e0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eeeeee), to(#e0e0e0));
  background-image: -webkit-linear-gradient(top, #eeeeee, #e0e0e0);
  background-image: -o-linear-gradient(top, #eeeeee, #e0e0e0);
  background-image: linear-gradient(top, #eeeeee, #e0e0e0);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#e0e0e0', GradientType=0);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px #cccccc;
  -moz-box-shadow: 0 1px 2px #cccccc;
  box-shadow: 0 1px 2px #cccccc;
}
.jrHeadingDark {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 7px 10px !important;
  margin: 10px 0 18px !important;
  color: #fff;
  background: #555;
  background-color: #474747;
  background-image: -moz-linear-gradient(top, #555555, #333333);
  background-image: -ms-linear-gradient(top, #555555, #333333);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555555), to(#333333));
  background-image: -webkit-linear-gradient(top, #555555, #333333);
  background-image: -o-linear-gradient(top, #555555, #333333);
  background-image: linear-gradient(top, #555555, #333333);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#333333', GradientType=0);
  -webkit-box-shadow: 0 1px 3px #000000;
  -moz-box-shadow: 0 1px 3px #000000;
  box-shadow: 0 1px 3px #000000;
}
.jrHeadingDark [class^="jrIcon"]:before {
  color: #fff;
}
.jrHeadingBorder {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 7px 0 !important;
  margin: 30px 0 20px !important;
  color: #333;
  border-top: 1px solid #E0E0E0;
  border-bottom: 3px solid #444750;
}
.jrHeadingButtons {
  float: right;
}
.jrHeadingButtons .jrButton {
  margin: 0;
  text-transform: none;
  position: relative;
  top: -2px;
}
/*************************************
Labels
*************************************/
.jrStatusLabel {
  padding: 2px 4px;
  font-size: 10px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  background-color: #999;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.jrStatusLabel.jrRed {
  background-color: #b94a48;
}
.jrStatusLabel.jrOrange {
  background-color: #f89406;
}
.jrStatusLabel.jrGreen {
  background-color: #468847;
}
.jrStatusLabel.jrBlue {
  background-color: #3a87ad;
}
.jrStatusLabel.jrBrown {
  background-color: #4b3f26;
}
.jrStatusLabel.jrPurple {
  background-color: #7a43b6;
}
.jrStatusLabel.jrDark {
  background-color: #222;
}
/*************************************
Messages
*************************************/
.jrWarning {
  padding: 8px 35px 8px 14px;
  margin-bottom: 18px;
  color: #333333;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.jrSuccess {
  padding: 8px 35px 8px 14px;
  margin-bottom: 18px;
  color: #333333;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.jrError {
  padding: 8px 35px 8px 14px;
  margin-bottom: 18px;
  color: #333333;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #f2dede;
  border: 1px solid #eed3d7;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.jrInfo {
  padding: 8px 35px 8px 14px;
  margin-bottom: 18px;
  color: #333333;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #d9edf7;
  border: 1px solid #bce8f1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.jrWarning ul,
.jrSuccess ul,
.jrError ul,
.jrInfo ul {
  margin: 0 0 0 15px;
}
/*************************************
Fluid Grid System
*************************************/
.jrGrid {
  width: 100%;
  *zoom: 1;
}
.jrGrid:before,
.jrGrid:after {
  display: table;
  content: "";
  line-height: 0;
}
.jrGrid:after {
  clear: both;
}
.jrGrid > [class*="jrCol"] {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-left: 2.127659574468085%;
  *margin-left: 2.074468085106383%;
}
.jrGrid > [class*="jrCol"]:first-child {
  margin-left: 0;
}
.jrGrid > .jrCol12 {
  width: 100%;
  *width: 99.94680851063829%;
}
.jrGrid > .jrCol11 {
  width: 91.48936170212765%;
  *width: 91.43617021276594%;
}
.jrGrid > .jrCol10 {
  width: 82.97872340425532%;
  *width: 82.92553191489361%;
}
.jrGrid > .jrCol9 {
  width: 74.46808510638297%;
  *width: 74.41489361702126%;
}
.jrGrid > .jrCol8 {
  width: 65.95744680851064%;
  *width: 65.90425531914893%;
}
.jrGrid > .jrCol7 {
  width: 57.44680851063829%;
  *width: 57.39361702127659%;
}
.jrGrid > .jrCol6 {
  width: 48.93617021276595%;
  *width: 48.88297872340425%;
}
.jrGrid > .jrCol5 {
  width: 40.42553191489362%;
  *width: 40.37234042553192%;
}
.jrGrid > .jrCol4 {
  width: 31.914893617021278%;
  *width: 31.861702127659576%;
}
.jrGrid > .jrCol3 {
  width: 23.404255319148934%;
  *width: 23.351063829787233%;
}
.jrGrid > .jrCol2 {
  width: 14.893617021276595%;
  *width: 14.840425531914894%;
}
.jrGrid > .jrCol1 {
  width: 6.382978723404255%;
  *width: 6.329787234042553%;
}
.jrGrid .push12 {
  margin-left: 104.25531914893617%;
  *margin-left: 104.14893617021275%;
}
.jrGrid .push12:first-child {
  margin-left: 102.12765957446808%;
  *margin-left: 102.02127659574467%;
}
.jrGrid .push11 {
  margin-left: 95.74468085106382%;
  *margin-left: 95.6382978723404%;
}
.jrGrid .push11:first-child {
  margin-left: 93.61702127659574%;
  *margin-left: 93.51063829787232%;
}
.jrGrid .push10 {
  margin-left: 87.23404255319149%;
  *margin-left: 87.12765957446807%;
}
.jrGrid .push10:first-child {
  margin-left: 85.1063829787234%;
  *margin-left: 84.99999999999999%;
}
.jrGrid .push9 {
  margin-left: 78.72340425531914%;
  *margin-left: 78.61702127659572%;
}
.jrGrid .push9:first-child {
  margin-left: 76.59574468085106%;
  *margin-left: 76.48936170212764%;
}
.jrGrid .push8 {
  margin-left: 70.2127659574468%;
  *margin-left: 70.10638297872339%;
}
.jrGrid .push8:first-child {
  margin-left: 68.08510638297872%;
  *margin-left: 67.9787234042553%;
}
.jrGrid .push7 {
  margin-left: 61.70212765957446%;
  *margin-left: 61.59574468085106%;
}
.jrGrid .push7:first-child {
  margin-left: 59.574468085106375%;
  *margin-left: 59.46808510638297%;
}
.jrGrid .push6 {
  margin-left: 53.191489361702125%;
  *margin-left: 53.085106382978715%;
}
.jrGrid .push6:first-child {
  margin-left: 51.063829787234035%;
  *margin-left: 50.95744680851063%;
}
.jrGrid .push5 {
  margin-left: 44.68085106382979%;
  *margin-left: 44.57446808510638%;
}
.jrGrid .push5:first-child {
  margin-left: 42.5531914893617%;
  *margin-left: 42.4468085106383%;
}
.jrGrid .push4 {
  margin-left: 36.170212765957444%;
  *margin-left: 36.06382978723405%;
}
.jrGrid .push4:first-child {
  margin-left: 34.04255319148936%;
  *margin-left: 33.93617021276596%;
}
.jrGrid .push3 {
  margin-left: 27.659574468085104%;
  *margin-left: 27.5531914893617%;
}
.jrGrid .push3:first-child {
  margin-left: 25.53191489361702%;
  *margin-left: 25.425531914893618%;
}
.jrGrid .push2 {
  margin-left: 19.148936170212764%;
  *margin-left: 19.04255319148936%;
}
.jrGrid .push2:first-child {
  margin-left: 17.02127659574468%;
  *margin-left: 16.914893617021278%;
}
.jrGrid .push1 {
  margin-left: 10.638297872340425%;
  *margin-left: 10.53191489361702%;
}
.jrGrid .push1:first-child {
  margin-left: 8.51063829787234%;
  *margin-left: 8.404255319148938%;
}
/*************************************
List Columns
*************************************/
[class*="jrListColumn"],
.jrListColumn {
  *zoom: 1;
}
[class*="jrListColumn"]:before,
.jrListColumn:before,
[class*="jrListColumn"]:after,
.jrListColumn:after {
  display: table;
  content: "";
  line-height: 0;
}
[class*="jrListColumn"]:after,
.jrListColumn:after {
  clear: both;
}
[class*="jrListColumn"] .jrListItem,
.jrListColumn4 .jrListItem {
  float: left;
  text-align: center;
  margin: 0 1.428571429% 1.428571429% 0;
}
.jrListColumn .jrListItem {
  width: 23.64285714%;
}
.jrListColumn8 .jrListItem {
  width: 10.96428571%;
}
.jrListColumn7 .jrListItem {
  width: 12.7755102%;
}
.jrListColumn6 .jrListItem {
  width: 15.19047619%;
}
.jrListColumn5 .jrListItem {
  width: 18.57142857%;
}
.jrListColumn4 .jrListItem {
  width: 23.64285714%;
}
.jrListColumn3 .jrListItem {
  width: 32.0952381%;
}
.jrListColumn2 .jrListItem {
  width: 48.72857143%;
}
.jrListColumn1 .jrListItem {
  width: 99.71428571%;
}
.jrListColumn .jrListItem:nth-child(4n),
.jrListColumn8 .jrListItem:nth-child(8n),
.jrListColumn7 .jrListItem:nth-child(7n),
.jrListColumn6 .jrListItem:nth-child(6n),
.jrListColumn5 .jrListItem:nth-child(5n),
.jrListColumn4 .jrListItem:nth-child(4n),
.jrListColumn3 .jrListItem:nth-child(3n),
.jrListColumn2 .jrListItem:nth-child(2n),
.jrListColumn1 .jrListItem {
  margin: 0 0 1.428571429% 0;
}
/* List item thumbnails */
.jrListItem .jrListItemThumb {
  margin: 8px 0;
}
.jrListItem .jrListItemThumb img {
  max-width: 100%;
}
/* List item content */
.jrListItem .jrListItemContent {
  margin: 0 4px;
}
/*************************************
List Column Styles
*************************************/
.jrShadowBox {
  background: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
}
.jrShadowBox:hover {
  -webkit-box-shadow: 0 0 10px #bebebe;
  -moz-box-shadow: 0 0 10px #bebebe;
  box-shadow: 0 0 10px #bebebe;
}
/* Compact shadow box */
.jrCompactBox {
  background: #fff;
  -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.16);
}
.jrCompactBox:hover {
  -webkit-box-shadow: 1px 1px 6px #bebebe;
  -moz-box-shadow: 1px 1px 6px #bebebe;
  box-shadow: 1px 1px 6px #bebebe;
}
.jrCompactBox .jrListItemThumb {
  width: 100%;
  margin: 0 0 8px 0;
}
.jrCompactBox .jrListItemThumb img {
  width: 100%;
}
/*************************************
Icons
*************************************/
@font-face {
  font-family: 'jrIcons';
  src: url('fonts/jrIcons.eot');
  src: url('fonts/jrIcons.eot?#iefix') format('embedded-opentype'), url('fonts/jrIcons.svg#jrIcons') format('svg'), url('fonts/jrIcons.woff') format('woff'), url('fonts/jrIcons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* Use the following CSS code if you want to use data attributes for inserting icons */
[data-icon]:before {
  font-family: 'jrIcons';
  font-size: 14px;
  color: #333;
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}
/* Use the following CSS code if you want to have a class per icon */
[class^="jrIcon"] {
  display: inline-block;
  *display: inline;
  width: 14px;
  height: 14px;
  margin-right: 5px;
}
[class^="jrIcon"]:before {
  vertical-align: text-top;
  font-family: 'jrIcons';
  font-size: 14px;
  line-height: 1;
  color: #333;
  font-style: normal;
  speak: none;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}
.jrIconListing:before {
  content: "\e000";
}
.jrIconAddListing:before {
  content: "\e001";
}
.jrIconEditListing:before {
  content: "\e002";
}
.jrIconEdit:before,
.jrIconNote:before {
  content: "\e003";
}
.jrIconDelete:before {
  content: "\e004";
}
.jrIconSearch:before {
  content: "\e005";
}
.jrIconManage:before,
.jrIconSync:before {
  content: "\e006";
}
.jrIconCart:before {
  content: "\e007";
}
.jrIconReviews:before {
  content: "\e008";
}
.jrIconAddReview:before {
  content: "\e009";
}
.jrIconComments:before {
  content: "\e00a";
}
.jrIconAddComment:before {
  content: "\e00b";
}
.jrIconThumbUp:before {
  content: "\e00c";
}
.jrIconThumbDown:before {
  content: "\e00d";
}
.jrIconEditor:before {
  content: "\e00e";
}
.jrIconUsers:before {
  content: "\e00f";
}
.jrIconPhoto:before,
.jrIconPhotos:before {
  content: "\e010";
}
.jrIconVideo:before,
.jrIconVideos:before {
  content: "\e011";
}
.jrIconAudio:before {
  content: "\e012";
}
.jrIconAttachment:before,
.jrIconAttachments:before {
  content: "\e013";
}
.jrIconMedia:before {
  content: "\e014";
}
.jrIconAddMedia:before {
  content: "\e015";
}
.jrIconGraph:before {
  content: "\e016";
}
.jrIconRequired:before {
  content: "\e017";
}
.jrIconRemove:before,
.jrIconCancel:before {
  content: "\e018";
}
.jrIconPlus:before,
.jrIconNew:before,
.jrIconCopy:before {
  content: "\e019";
}
.jrIconMinus:before {
  content: "\e01a";
}
.jrIconYes:before,
.jrIconSubmit:before,
.jrIconPublished:before,
.jrIconSave:before,
.jrIconApply:before {
  content: "\e01b";
}
.jrIconNo:before,
.jrIconUnpublished:before {
  content: "\e01c";
}
.jrIconWarning:before {
  content: "\e01d";
}
.jrIconBullet:before {
  content: "\e01e";
}
.jrIconCalendar:before {
  content: "\e01f";
}
.jrIconMap:before {
  content: "\e020";
}
.jrIconPin:before {
  content: "\e021";
}
.jrIconCompare:before {
  content: "\e022";
}
.jrIconFavorite:before {
  content: "\e023";
}
.jrIconUnfavorite:before {
  content: "\e024";
}
.jrIconNotFeatured:before,
.jrIconEmptyStar:before {
  content: "\e025";
}
.jrIconFeatured:before,
.jrIconStar:before {
  content: "\e026";
}
.jrIconArrowLeft:before {
  content: "\e027";
}
.jrIconArrowRight:before {
  content: "\e028";
}
.jrIconArrowDown:before {
  content: "\e029";
}
.jrIconArrowUp:before {
  content: "\e02a";
  color: #fff;
}
.jrIconLeft:before,
.jrIconPrev:before {
  content: "\e02b";
}
.jrIconRight:before,
.jrIconNext:before {
  content: "\e02c";
}
.jrIconUp:before {
  content: "\e02d";
}
.jrIconDown:before {
  content: "\e02e";
}
.jrIconMessage:before {
  content: "\e02f";
}
.jrIconClaim:before {
  content: "\e030";
}
.jrIconDrag:before {
  content: "\e031";
}
.jrIconSort:before {
  content: "\e032";
}
.jrIconInfo:before {
  content: "\e033";
}
.jrIconList:before {
  content: "\e034";
}
.jrIconCamera:before {
  content: "\e035";
}
.jrIconPreview:before {
  content: "\e036";
}
.jrIconRSSListing:before {
  content: "\e037";
}
.jrIconRSSReview:before {
  content: "\e038";
}
/*************************************
RSS Link
*************************************/
.jrRSS {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
}
.jrRSS .jrFeeds {
  overflow: hidden;
  margin: 0 !important;
  padding: 0;
}
.jrRSS .jrFeeds li {
  display: inline;
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
}
.jrRSS .jrFeeds li a {
  display: block;
  float: left;
  width: 20px;
  height: 20px;
  text-indent: -9999px;
  background: url(images/rss_orange.png) no-repeat;
  border: none;
  padding: 0;
  margin: 0;
}
.jrRSS .jrFeeds li a.jrFeedListings {
  background-position: 0 0;
}
.jrRSS .jrFeeds li a.jrFeedReviews {
  background-position: -20px 0;
}
.jrRSS .jrFeeds img {
  border: 0;
}
/*************************************
Loading image
*************************************/
.jrLoadingMedium {
  background: url(images/loading_m.gif) center left no-repeat;
  padding: 35px;
  display: block;
  margin: 0 auto;
}
.jrLoadingSmall {
  background: url(images/loading_s.gif) center left no-repeat;
  padding: 0 0 3px 15px;
  margin-left: 5px;
}
/*************************************
Panels
*************************************/
.jrRoundedPanel {
  padding: 10px !important;
  border: 1px solid #ccc;
  background-color: #f6f6f6;
  background-image: -moz-linear-gradient(top, #fafafa, #efefef);
  background-image: -ms-linear-gradient(top, #fafafa, #efefef);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#efefef));
  background-image: -webkit-linear-gradient(top, #fafafa, #efefef);
  background-image: -o-linear-gradient(top, #fafafa, #efefef);
  background-image: linear-gradient(top, #fafafa, #efefef);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#efefef', GradientType=0);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.jrRoundedPanelLt {
  padding: 10px !important;
  margin-bottom: 10px !important;
  border: 1px solid #ddd;
  background-color: #fdfdfd;
  background-image: -moz-linear-gradient(top, #ffffff, #fbfbfb);
  background-image: -ms-linear-gradient(top, #ffffff, #fbfbfb);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#fbfbfb));
  background-image: -webkit-linear-gradient(top, #ffffff, #fbfbfb);
  background-image: -o-linear-gradient(top, #ffffff, #fbfbfb);
  background-image: linear-gradient(top, #ffffff, #fbfbfb);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#fbfbfb', GradientType=0);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
/*************************************
Breadcrumbs
*************************************/
.jrPathway {
  width: 80%;
  margin-bottom: .5em;
  padding-right: 15px;
  font-size: 0.9em;
}
.jrPathway a {
  background: url(images/breadcrumb.png) no-repeat center right;
  text-decoration: none;
  padding-right: 15px;
  margin-right: 3px;
}
/*************************************
Tooltip/Popup
*************************************/
.jrPopup {
  display: none;
  position: absolute;
  z-index: 2500;
  width: 180px !important;
  padding: 10px 15px;
  color: #fff;
  text-align: left;
  font-size: 12px;
  font-weight: normal;
  white-space: normal;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
  border: 1px solid #222;
  background-color: #474747;
  background-image: -moz-linear-gradient(top, #555555, #333333);
  background-image: -ms-linear-gradient(top, #555555, #333333);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555555), to(#333333));
  background-image: -webkit-linear-gradient(top, #555555, #333333);
  background-image: -o-linear-gradient(top, #555555, #333333);
  background-image: linear-gradient(top, #555555, #333333);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#333333', GradientType=0);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.jrPopup:after,
.jrPopup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
}
.jrPopup:after {
  border-top-color: #333;
  border-width: 12px;
  left: 50%;
  margin-left: -12px;
}
.jrPopup:before {
  border-top-color: #111;
  border-width: 13px;
  left: 50%;
  margin-left: -13px;
}
.jrPopup h3 {
  font-size: 14px;
  font-weight: bold;
  margin: 0 0 6px 0;
}
.jrPopup h3:first-child {
  margin: 0 0 6px 0;
}
.jrPopup a {
  color: #fff !important;
  text-decoration: underline !important;
}
.jrPopup a:hover {
  color: #ccc !important;
}
.jrPopup [class^="jrIcon"]:before {
  color: #fff;
}
.jrPopup.jrPopupMedium {
  width: 225px !important;
}
.jrPopup.jrPopupLarge {
  width: 250px !important;
}
.jrPopup.jrPopupLight {
  color: #333;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  background-image: -moz-linear-gradient(top, #f5f5f5, #eaeaea);
  background-image: -ms-linear-gradient(top, #f5f5f5, #eaeaea);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#eaeaea));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #eaeaea);
  background-image: -o-linear-gradient(top, #f5f5f5, #eaeaea);
  background-image: linear-gradient(top, #f5f5f5, #eaeaea);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#eaeaea', GradientType=0);
}
.jrPopup.jrPopupLight:after {
  border-top-color: #eaeaea;
}
.jrPopup.jrPopupLight:before {
  border-top-color: #cecece;
  border-width: 13px;
  margin-left: -13px;
}
.jrPopup.jrPopupLight a {
  color: #333 !important;
}
.jrPopup.jrPopupLight a:hover {
  color: #555 !important;
}
/*************************************
Data Table
*************************************/
.jrDataTable {
  border-bottom: 1px solid #ccc !important;
  margin-bottom: 15px;
}
.jrDataTable th {
  padding: 6px;
  border-top: 1px solid #ccc;
  background-color: #efefef;
  color: #333;
  font-weight: bold;
  text-align: left;
}
.jrDataTable td {
  padding: 5px;
  border-top: 1px solid #ccc !important;
  text-align: left;
  vertical-align: top;
}
.jrDataTable tr:nth-child(odd) {
  background: #f5f5f5;
}
/*************************************
Data List
*************************************/
.jrDataList {
  list-style: none;
  padding: 0;
  margin: 0;
  border-top: 1px solid #ccc;
}
.jrDataList > * {
  padding: 6px;
  margin: 0 !important;
  border-bottom: 1px solid #ccc;
  text-align: left;
  background: #fff;
}
.jrDataList > .jrDataListHeader {
  padding: 5px;
  background: #dedede !important;
  font-weight: bold;
  -webkit-box-shadow: inset 0 0 20px #cccccc;
  -moz-box-shadow: inset 0 0 20px #cccccc;
  box-shadow: inset 0 0 20px #cccccc;
}
.jrDataList > *:nth-child(odd) {
  background: #f5f5f5;
}
ul.jrDataList {
  list-style: none;
  background: none;
  margin: 0 !important;
}
ul.jrDataList li {
  margin: 0 !important;
  padding: 6px !important;
}
/*************************************
JReviews helper classes
*************************************/
.jrPointer {
  cursor: pointer;
}
.jrHidden {
  display: none;
}
.jrLeft {
  float: left;
}
.jrRight {
  float: right;
}
.jrRounded {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.jrShadow {
  -webkit-box-shadow: 0 0 2px #cccccc;
  -moz-box-shadow: 0 0 2px #cccccc;
  box-shadow: 0 0 2px #cccccc;
}
.jrHideText {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
/* Float clearing */
.jrClearfix {
  *zoom: 1;
}
.jrClearfix:before,
.jrClearfix:after {
  display: table;
  content: "";
}
.jrClearfix:after {
  clear: both;
}
.jrClear {
  clear: both;
}
/*************************************
Page Container and shared elementss
*************************************/
.jrPage {
  text-align: left;
  position: relative;
}
.jrPageHeader .contentheading {
  clear: left;
  margin-bottom: 10px;
}
.jrPageHeader .contentheading a {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
}
/* Page Description: uses description defined for the section or category */
.jrPageDescription {
  width: 100%;
  line-height: 1.4em;
}
.jrPageDescription img {
  float: left;
  margin: 0 10px 10px 0;
  border: 0;
  max-width: 100%;
}
/* "List Scope": Container for categories or alphabet controls - filters/scopes list */
.jrListScope {
  margin: 0 0 15px 0;
  text-align: center;
}
.jrListScope h2 {
  /* Used for "categories in section" title */

  margin: 0 0 10px 0;
  font-weight: bold;
}
/* Alphabet Index */
.jrAlphaindex.jrButtonGroup {
  text-align: center;
  margin-bottom: 5px;
  display: inline-block;
}
.jrAlphaindex.jrButtonGroup .jrButton {
  font-size: 12px;
  text-transform: uppercase;
  padding: 1px 5px;
  text-align: center;
  text-decoration: none;
}
/* Search controls */
.jrListSearch {
  text-align: center !important;
  font-size: 13px;
  margin: 0;
}
.jrListSearch input.jrText {
  margin: 0;
}
.jrListSearch input,
.jrListSearch select {
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  padding: 3px 10px 3px 2px;
  background: #fff;
  vertical-align: top;
  border-width: 1px;
  border-style: solid;
  color: #444;
  border-color: #bbb #ddd #ddd #bbb;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.jrListSearch input:focus,
.jrListSearch select:focus {
  outline: none;
  background: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #777 #aaa #aaa #777;
}
/* List Sorting controls */
.jrOrdering {
  text-align: right;
  font-size: .9em;
}
.jrOrdering input,
.jrOrdering select {
  font-size: 11px;
}
.jrOrdering select option {
  padding-right: 10px;
}
.jrOrdering .jrMediaFilter {
  display: block;
}
.jrOrdering .jrMediaSort {
  display: block;
  margin: 5px 0 0 5px;
}
/* Captcha */
.jrCaptchaImg {
  float: left;
  margin-right: 10px;
}
input.jrCaptchaCode {
  height: 20px;
  width: 55px;
  padding: 5px !important;
  margin: 0 !important;
  text-align: center;
}
.jrCaptchaText {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 8px;
}
/*************************************
Pagination
*************************************/
.jrPagination {
  width: 100%;
  line-height: 1.5;
  font-weight: normal;
  margin-bottom: 10px;
  border: 0;
}
.jrPaginationBottom {
  margin-top: 10px;
  margin-bottom: 0;
}
.jrPagenavResults {
  text-align: left;
}
.jrPagenavPages {
  text-align: center;
  white-space: nowrap;
}
.jrPagenavPages .jrButton {
  margin-bottom: 3px;
}
.jrPagenavLimit {
  text-align: right;
}
.jrPagenavLimit select {
  font-size: 10px !important;
  width: auto !important;
  background: #f8f8f8;
  color: #444;
  vertical-align: middle;
  border-width: 1px;
  border-style: solid;
  border-color: #aaa #ccc #ccc #aaa;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.jrPagenavLimit select:focus {
  outline: none;
  background: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #777 #aaa #aaa #777;
}
.jrPagenavLimit select option {
  padding-right: 10px;
}
.jrPagination .jrPageCurrent {
  color: #fff;
  cursor: default;
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #cccccc;
  color: rgba(0, 0, 0, 0.8);
}
/*************************************
Common content elements - used throughout JReviews
*************************************/
.jrPage .jrListingThumbnail {
  clear: both;
  text-align: center;
}
.jrPage .jrListingThumbnail img {
  width: auto;
  max-width: 100%;
}
.jrPage .jrContentTitle {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: .2em;
}
.jrPage .jrContentTitle a {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
}
/* Compare Checkbox Button */
.jrCompareButton input.jrCheckListing {
  font-size: 11px;
  margin: 0 !important;
  padding: 0 !important;
  width: auto;
}
.jrCompareButton label.jrCheckListingLabel {
  display: inline;
  cursor: pointer;
  font-size: 11px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  line-height: 1;
}
/* JReviews login box */
.jrLoginBox {
  float: left;
}
input#jr-username,
input#jr-password {
  background: #fff;
  padding: 4px;
  vertical-align: top;
  color: #444;
  border-width: 1px;
  border-style: solid;
  border-color: #bbb #ddd #ddd #bbb;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.jrLogin.jrButton {
  margin: 0;
  vertical-align: middle;
}
/* Custom Module Positions */
.jrCustomModule {
  margin: 10px 0;
}
/* JReviews slider scroll arrows */
.jrScrollLeft,
.jrScrollRight {
  background: url(images/arrows.png) no-repeat;
  display: block;
  width: 22px;
  height: 22px;
  float: left;
  margin: 42px 8px;
  cursor: pointer;
  font-size: 1px;
  visibility: hidden;
}
.jrScrollLeft {
  background-position: 0 0;
  margin-left: 0px;
}
.jrScrollRight {
  background-position: -22px 0;
  margin-right: 0px;
}
.jrScrollLeft.jrDisabled {
  background-position: -44px 0;
}
.jrScrollRight.jrDisabled {
  background-position: -66px 0;
}
/*************************************
Media Elements
*************************************/
/* Media List page */
.jrMediaList .jrListItem {
  height: 165px;
}
.jrMediaList .jrMediaItem {
  position: relative;
  padding-top: 5px;
  text-align: center;
}
.jrMediaList .jrMediaThumb {
  display: inline-block;
  position: relative;
}
.jrMediaList .jrMediaTypePhoto .jrMediaThumb:before,
.jrMediaList .jrMediaTypeVideo .jrMediaThumb:before,
.jrMediaList .jrMediaTypeAudio .jrMediaThumb:before,
.jrMediaList .jrMediaTypeAttachment .jrMediaThumb:before {
  display: inline-block;
  position: absolute;
  top: 2px;
  right: 2px;
  width: 16px;
  height: 16px;
  background-image: url(images/icons_overlay.png);
  background-repeat: no-repeat;
  content: "";
}
.jrMediaList .jrMediaThumb {
  height: 90px;
}
.jrMediaList .jrMediaThumb img {
  max-width: 100%;
  max-height: 100%;
}
.jrMediaList .jrMediaTypePhoto .jrMediaThumb:before {
  background-position: 0 0;
}
.jrMediaList .jrMediaTypeVideo .jrMediaThumb:before {
  background-position: -18px 0;
}
.jrMediaList .jrMediaTypeAudio .jrMediaThumb:before {
  background-position: -36px 0;
}
.jrMediaList .jrMediaTypeAttachment .jrMediaThumb:before {
  background-position: -52px 0;
}
.jrMediaList .jrMediaTypeVideo .jrMediaThumb:after {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
  background: #000;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  padding: 2px;
  content: attr(data-duration);
}
.jrMediaList .jrMediaInfo {
  margin: 10px 5px 0 5px;
  line-height: 1.4;
}
.jrMediaList .jrMediaInfo .jrMediaListingTitle,
.jrMediaList .jrMediaInfo .jrMediaFrom,
.jrMediaList .jrMediaInfo .jrMediaCreated,
.jrMediaList .jrMediaInfo .jrMediaViews {
  font-size: 11px;
}
.jrMediaList .jrMediaInfo .jrMediaTitle {
  height: 32px;
  overflow: hidden;
}
.jrMediaList .jrMediaInfo .jrMediaListingTitle {
  height: 13px;
  line-height: 13px;
  overflow: hidden;
}
.jrMediaList .jrCompactBox,
.jrMediaList .jrCompactBox .jrMediaItem {
  padding: 0;
}
.jrMediaList .jrCompactBox .jrMediaThumb {
  width: 100%;
  overflow: hidden;
}
.jrMediaList .jrCompactBox .jrMediaThumb a {
  display: block;
  height: 90px;
}
.jrMediaList .jrCompactBox .jrMediaThumb img {
  width: 100% !important;
  height: auto !important;
  max-height: none;
}
.jrMediaList .jrCompactBox .jrMediaInfo {
  margin: 5px 5px 0 5px;
}
/* Media Sorting Page */
.jrMediaSort .jrIconSort {
  display: none;
}
.jrMediaSort .jrSortHandle {
  cursor: move;
  float: left;
  width: 25px;
  margin: 10px 0 0 5px;
}
.jrMediaSort:hover .jrIconSort {
  display: block;
}
.jrMediaSort .jrMediaThumbnail {
  overflow: hidden;
  max-width: 70px;
}
.jrMediaSort .jrIconStar,
.jrMediaSort .jrIconEmptyStar {
  margin: 0;
}
.jrMediaSort .jrIconStar:before {
  color: #f31818;
}
/* Video Gallery */
.jrVideoGallery {
  margin-bottom: 20px;
  clear: both;
}
.jrVideoGallery .jrVideo {
  margin-bottom: 20px;
}
.jrVideoGallery.jrVideoLightbox {
  margin: 0;
}
.jrVideoGallery.jrVideoLightbox .jrVideo {
  width: 710px;
  margin: 0 auto;
}
.jrVideoGallery.jrVideoLightbox .jrMediaActions {
  margin: 0;
}
.jrVideoGallery.jrVideoLightbox .jrVideoSlider,
.jrVideoGallery.jrVideoLightbox .jrScrollLeft,
.jrVideoGallery.jrVideoLightbox .jrScrollRight {
  display: none;
}
.jrVideoGallery .jrVideoCurrentInfo {
  margin: 10px 0;
  overflow: hidden;
}
.jrVideoGallery .jrVideoCurrentInfo a {
  display: block;
  float: left;
  margin-right: 10px;
}
.jrVideoGallery .jrVideoInfo {
  margin: 10px 0;
}
.jrVideoGallery .jrMediaActions {
  margin: 10px 0;
  overflow: hidden;
}
.jrVideoGallery .jrMediaActions .jrMediaLikeDislike {
  float: left;
  margin-right: 5px;
}
.jrVideoGallery .jrMediaActions .jrMediaLikeDislike .jrButton {
  font-weight: bold;
}
.jrVideoGallery .jrMediaActions .jrReport {
  float: left;
  margin-left: 5px;
}
.jrVideoGallery .jrMediaTitle {
  font-weight: bold;
  margin: 5px 0;
}
.jrVideoGallery .jrMediaDescription {
  max-height: 200px;
  overflow: auto;
}
/* Video List */
.jrVideoGallery .jrMediaFilter {
  margin-bottom: 10px;
  overflow: hidden;
}
.jrVideoGallery .jrMediaFilter .jrMediaOrder {
  display: block;
  float: right;
}
/* Video Slider */
.jrVideoSlider {
  position: relative;
  float: left;
  width: 100%;
  height: 110px;
  overflow: hidden;
}
.jrVideoSlider .jrVideoList {
  width: 20000em;
  position: relative;
  overflow: hidden;
}
.jrVideoSlider .jrVideoList .jrMediaThumb:after {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
  background: #000;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  padding: 2px;
  content: attr(data-duration);
}
.jrVideoSlider .jrVideoListItem {
  position: relative;
  float: left;
  width: 140px;
  height: 90px;
  margin: 0 14px 10px 0;
  border: 1px solid #ccc;
}
/* Video Slider Arrows */
.jrVideoGallery .jrScrollLeft,
.jrVideoGallery .jrScrollRight {
  display: none;
  margin: 40px 5px 40px 0;
  visibility: visible;
}
.jrVideoGallery .jrScrollRight {
  margin: 40px 5px;
}
/* Photo Gallery */
.jrPhotoGallery .jrMediaFilter {
  margin-bottom: 10px;
}
.jrPhotoGallery .jrMediaFilter .jrMediaOrder {
  display: block;
  float: right;
}
.jrPhotoSlideShow {
  width: 100%;
  margin: 40px 0 20px 0;
}
.jrPhotoSlideShow .jrPhotoInfo,
.jrPhotoSlideShow .jrPhotoCaption {
  color: #fff;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  display: none;
  position: absolute;
  left: 0;
  right: 0;
}
.jrPhotoSlideShow .galleria-info {
  display: none !important;
}
.jrPhotoSlideShow .jrPhotoInfo {
  bottom: 0;
  padding-bottom: 25px;
}
.jrPhotoSlideShow .jrPhotoCaption {
  top: 0;
}
.jrPhotoSlideShow.jrPhotoOverlay:hover .jrPhotoInfo,
.jrPhotoSlideShow.jrPhotoOverlay:hover .jrPhotoCaption {
  display: block;
}
.jrPhotoSlideShow .jrPhotoInfo a {
  color: #eee;
  text-decoration: underline;
}
.jrPhotoSlideShow .jrMediaActions {
  margin: 5px 5px 10px 0;
}
.jrPhotoSlideShow .jrMediaActions .jrButton {
  margin: 5px 0 0 0;
}
.jrPhotoSlideShow .jrMediaActions .jrMediaLikeDislike {
  float: left;
  margin-right: 5px;
}
.jrPhotoSlideShow .jrMediaActions .jrMediaLikeDislike .jrButton {
  font-weight: bold;
}
.jrPhotoSlideShow .jrMediaActions .jrReport {
  float: left;
  margin-left: 5px;
}
.jrPhotoSlideShow .jrIconGraph:before {
  color: #fff;
}
.jrPhotoGallery {
  margin-bottom: 20px;
}
.jrPhotoGallery .jrMediaDescription {
  margin-bottom: 10px;
}
.jrPhotoGallery .jrPhotoCaption {
  margin: 5px 0;
  font-weight: bold;
}
.jrPhotoGallery .jrMediaActions {
  margin: 10px 0;
  overflow: hidden;
}
.jrPhotoGallery .jrMediaActions .jrMediaLikeDislike {
  float: left;
  margin-right: 5px;
}
.jrPhotoGallery .jrMediaActions .jrMediaLikeDislike .jrButton {
  font-weight: bold;
}
.jrPhotoGallery .jrMediaActions .jrReport {
  margin-left: 5px;
}
/* Compact Photo Gallery */
.jrPhotoGalleryCompact {
  float: right;
  clear: right;
  margin: 0 0 20px 10px;
}
.jrPhotoGalleryCompact .jrPhotoSlideShow {
  width: 350px;
  height: 330px;
  margin: 0;
}
.jrPhotoGalleryCompact .jrMediaDescription {
  display: none;
}
.jrPhotoGalleryCompact.jrMediaLeft {
  float: left;
  clear: left;
  margin: 0 10px 20px 0;
}
/**********************************************
Masonry
***********************************************/
.jrMasonry .jrResults {
  padding: 15px 1px 0 1px;
  text-align: center;
}
.jrMasonry .jrResults .jrListItem {
  float: left;
  margin: 0 0 10px 0 !important;
  height: auto;
}
.jrMasonry .jrResults .jrListingThumbnail {
  margin: 8px 0;
}
.jrMasonry .jrResults .jrContentTitle {
  margin: 8px 3px;
  font-size: 13px;
  line-height: 1.2;
}
.jrMasonry .jrResults .jrContentTitle a {
  font-size: 13px;
  line-height: 1.2;
  margin: 0;
}
.jrMasonry .jrResults .jrStatusIndicators {
  display: none;
}
.jrMasonry .jrResults div.jrOverallRatings {
  margin: 10px auto;
  width: 148px;
  float: none;
  font-size: 0.9em;
}
.jrMasonry .jrResults .jrListingButtons {
  margin: 10px auto;
}
.jrMasonry .jrMediaList {
  padding-bottom: 40px;
}
.jrMasonry .jrMediaList .jrMediaThumb {
  display: block;
}
.jrMasonry .jrMediaList .jrMediaThumb {
  height: auto;
}
.jrMasonry .jrMediaList .jrMediaThumb a {
  display: block;
  height: auto;
}
.jrMasonry .jrMediaList .jrMediaThumb img {
  width: auto !important;
}
.jrMasonry .jrMediaList .jrMediaInfo {
  margin: 10px 5px 5px 5px;
}
/*************************************
Discussion page
*************************************/
.jrDiscussion .jrListItem {
  clear: both;
  border-top: solid 1px #ddd;
  margin: 0 0 10px 0 !important;
  padding-top: 10px;
}
.jrDiscussion .jrContentTitle,
.jrDiscussion .jrContentTitle a {
  font-size: 20px;
  font-weight: normal;
  line-height: 1.3em;
}
.jrDiscussion .jrContentColumn {
  float: right;
  margin: 0 0 20px 20px;
  text-align: center;
  width: 150px;
}
.jrDiscussion .jrListingThumbnail {
  float: right;
  clear: left;
  border: solid 1px #ccc;
  padding: 1px;
  margin-right: 5px;
}
.jrDiscussion .jrReviewColumn {
  clear: both;
}
.jrDiscussion .jrPostNewComment {
  margin: 15px 0 15px 0;
}
.jrDiscussion .jrPostCommentReply {
  margin-top: 5px;
  font-size: 1.05em;
}
.jrDiscussion .jrCommentReply {
  margin-left: 15px;
}
.jrDiscussion .jrReviewComments {
  margin-top: 20px;
}
/* discussion list page */
.jrDiscussion .jrPostList .jrContentTitle {
  float: left;
  margin-right: 10px;
}
.jrDiscussion .jrPostList .jrCommentText {
  clear: left;
  margin-bottom: 5px;
}
/*************************************
Directory page
*************************************/
.jrDirview {
  padding-top: 10px;
}
.jrDirview h3,
.jrDirview h3.contentheading {
  margin: 0 0 1em 0;
  padding: 0;
}
.jrDirview .jrRSS {
  position: static;
  float: right;
}
.jrDirview .jrDirectoryColumn {
  margin: 0 3% 0 0;
  float: left;
}
.jrDirview .jrDirectorySection {
  padding: 0;
  margin: 0;
  line-height: 1.5;
  overflow: hidden;
}
.jrDirview .jrDirectorySection .jrContentTitle {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 5px;
}
.jrDirview .jrDirectorySection .jrContentTitle a {
  font-size: 18px;
  font-weight: normal;
}
.jrDirview .jrDirectorySection .jrListingThumbnail {
  float: left;
  margin: 0 10px 10px 0;
  border: solid 1px #ccc;
  width: auto;
  overflow: hidden;
}
.jrDirview .jrDirectorySection div.jrContentDiv {
  float: left;
}
.jrDirview .jrDirectorySection ul {
  margin: 0 0 0 5px;
  padding: 0 0 0 15px;
}
.jrDirview .jrDirectorySection ul li {
  margin: 0;
  padding: .1em 0 .1em 0;
  list-style: circle;
  font-size: .9em;
}
.jrDirview .jrDirectorySection ul.comma {
  margin: 0;
  padding: 0;
  list-style: none;
}
.jrDirview .jrDirectorySection ul.comma li {
  list-style: none;
  float: left;
  background: url(images/dot.gif) right center no-repeat;
  line-height: 1.3em;
  padding-right: 14px;
  margin-right: 6px;
  font-size: .9em;
}
.jrDirview .jrClear {
  height: 30px;
}
/* no image */
.jrDirview.jrDirviewThumbNone div.jrListingThumbnail {
  display: none;
}
/* image above category */
.jrDirview.jrDirviewThumbAbove div.jrContentDiv {
  clear: left;
}
/*************************************
Joomla 2.5 Directory Styles
*************************************/
.jrDirview .jrContentDiv ul {
  margin: 2px;
  padding-left: 20px;
  overflow: hidden;
}
.jrDirview li {
  margin: 0;
}
.jrDirview ul li.jrCatLevel1 {
  float: left;
  margin-bottom: 30px;
  list-style: none;
  background: none;
  font-weight: bold;
  font-size: 1.2em;
}
.jrDirview ul li ul {
  font-weight: normal;
  font-size: 1em;
}
.jrDirview ul li .jrListingThumbnail {
  float: left;
  margin: 0 10px 10px 0;
  border: solid 1px #ccc;
  width: auto;
  overflow: hidden;
}
.jrDirview ul li .jrContentDiv {
  float: left;
}
.jrDirview ul li.jrCatLevel2 .jrContentDiv {
  float: none;
}
/* comma separated values */
.jrDirview.jrFormatComma ul li ul {
  padding: 0;
  margin: 0;
}
.jrDirview.jrFormatComma li.jrCatLevel2 {
  float: left;
  list-style: none;
  margin-right: 5px;
}
.jrDirview.jrFormatComma li.jrCatLevel2 .jrContentDiv:after {
  content: ",";
}
.jrDirview.jrFormatComma li.jrCatLevel2:last-child .jrContentDiv:after {
  content: "";
}
.jrDirview.jrFormatComma li.jrCatLevel2 ul {
  display: none;
}
/*************************************
Detailed Ratings
*************************************/
.jrRatingInfo {
  float: right;
  border: 1px solid #ddd;
  padding: 8px;
  margin: 0 0 5px 5px;
  background: #f5f5f5;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.jrRoundedPanel .jrRatingInfo {
  border: 1px solid #ccc;
  background: #ddd;
}
.jrRatingTable {
  margin-bottom: 0;
  border: 0;
}
.jrRatingTable td {
  font-size: 0.9em;
  vertical-align: top;
  border: 0;
}
.jrRatingTable td.jrRatingLabel {
  font-weight: bold;
  padding: 3px 5px 2px 0;
  text-align: left;
  white-space: nowrap;
}
.jrRatingTable td.jrRatingValue {
  font-weight: normal;
  padding: 3px 15px 2px 5px;
  text-align: left;
  white-space: nowrap;
}
/*************************************
Rating Stars
*************************************/
.jrRatingStarsUser,
.jrRatingStarsEditor,
.jrRatingStarsUser div,
.jrRatingStarsEditor div {
  background: url(images/rating_stars.png) 0 0 repeat-x;
  height: 16px;
  font-size: 1px;
}
.jrRatingStarsUser,
.jrRatingStarsEditor {
  width: 80px;
  margin-top: 3px;
  text-align: left;
}
.jrRatingStarsUser div {
  background-position: 0 -16px;
}
.jrRatingStarsEditor div {
  background-position: 0 -32px;
}
/*************************************
Overall Ratings
*************************************/
.jrOverallRatings {
  float: right;
}
.jrOverallRatings .jrOverallEditor,
.jrOverallRatings .jrOverallUser {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.jrOverallRatings .jrRatingLabel {
  display: inline;
  float: left;
  width: 16px;
  margin: 3px 5px 0 0;
}
.jrOverallRatings .jrRatingStars {
  display: inline;
  float: left;
}
.jrOverallRatings .jrRatingValue {
  display: inline;
  float: left;
  margin-top: 2px;
  font-weight: normal;
  white-space: nowrap;
  text-align: left;
  padding: 2px;
}
/*************************************
Custom Fields Presentation
*************************************/
/* container for all custom field groups that appear with use of the {CUSTOMFIELDS} tag */
.jrFieldGroup {
  /* container div for individual field group */

  padding-bottom: 1em;
}
.jrFieldGroupTitle,
h3.jrFieldGroupTitle {
  text-transform: uppercase;
  font-size: 11px;
  padding: 0 0 2px 0;
  margin-top: 0 !important;
  margin-bottom: .3em;
}
.jrFieldGroup .jrFieldRow {
  margin-bottom: 5px;
  overflow: hidden;
}
.jrFieldGroup .jrFieldLabel {
  float: left;
  width: 110px;
  font-size: 11px;
  font-weight: bold;
  text-align: left;
  white-space: normal;
}
.jrFieldGroup .jrFieldLabelDisabled {
  display: none;
}
.jrFieldGroup .jrFieldValue {
  margin-left: 120px;
}
.jrFieldGroup .jrFieldValue.jrLabelDisabled {
  margin-left: 0;
}
.jrFieldGroup .jrFieldValue img {
  border: 0;
}
ul.jrFieldValueList,
ul.jrFieldValueList li {
  overflow: hidden;
  list-style-type: none !important;
  padding: 0 !important;
  margin: 0 !important;
  background: none !important;
}
ul.jrFieldValueList li {
  margin-right: 5px !important;
  float: left;
  *float: none;
  display: block;
}
ul.jrFieldValueList li:after {
  content: '\2022';
  padding-left: 5px;
}
ul.jrFieldValueList li:last-child:after {
  content: '';
}
/**************************
Comparison Dashboard
***************************/
.jrCompareDashboard {
  display: none;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 2000;
  background: #f5f5f5;
  font-size: 13px;
  text-align: left;
  border: 0;
  margin: 0;
  padding: 3px 0 0 0;
  -webkit-box-shadow: 0px 0px 9px #999999;
  -moz-box-shadow: 0px 0px 9px #999999;
  box-shadow: 0px 0px 9px #999999;
}
.jrCompareDashboard .jrCompareHeader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 35px;
  overflow: hidden;
  background: #ddd;
  border-bottom: 1px solid #999;
  z-index: 1;
}
.jrCompareDashboard .jrCompareArrow {
  position: absolute;
  top: 12px;
  right: 100px;
  z-index: 2;
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 12px solid #555;
}
.jrCompareDashboard .jrCompareArrow.down {
  border-bottom: 0;
  border-top: 12px solid #555;
}
.jrCompareDashboard .jrCompareTabs {
  float: none;
  position: relative;
  width: 900px;
  margin: 0 auto;
  padding: 0;
  z-index: 2;
  background: none;
  border: 0;
}
.jrCompareDashboard .jrCompareTabs ul.ui-tabs-nav {
  margin: 0;
  padding: 0 0 0 30px;
  background: none;
  float: none;
  border: 0;
}
.jrCompareDashboard .jrCompareTabs ul.ui-tabs-nav li {
  font-size: 13px;
  height: 30px;
  line-height: 30px;
  background-color: #e0e0e0;
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eeeeee), to(#cccccc));
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
  background-image: linear-gradient(top, #eeeeee, #cccccc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc', GradientType=0);
  margin: 0 5px 0 0;
  padding: 0;
  border: 1px solid #999 !important;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.jrCompareDashboard .jrCompareTabs ul.ui-tabs-nav li a {
  outline: none;
  color: #333 !important;
  background: transparent;
  padding: 0 1em;
}
.jrCompareDashboard .jrCompareTabs ul.ui-tabs-nav li.ui-tabs-selected {
  background-color: #f1f1f1;
  background-image: -moz-linear-gradient(top, #eeeeee, #f5f5f5);
  background-image: -ms-linear-gradient(top, #eeeeee, #f5f5f5);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eeeeee), to(#f5f5f5));
  background-image: -webkit-linear-gradient(top, #eeeeee, #f5f5f5);
  background-image: -o-linear-gradient(top, #eeeeee, #f5f5f5);
  background-image: linear-gradient(top, #eeeeee, #f5f5f5);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#f5f5f5', GradientType=0);
  margin: 0 5px 1px 0;
  border-bottom: 1px solid #f5f5f5 !important;
}
.jrCompareDashboard .jrCompareTitle {
  position: absolute;
  top: 0;
  left: -170px;
  width: 190px;
  height: 32px;
  color: #333;
  font-size: 13px;
  font-weight: bold;
  text-align: right;
  line-height: 32px;
}
.jrCompareDashboard .jrCompareTabs .jrTabsContainer {
  display: none;
  height: 90px;
}
.jrCompareDashboard .jrCompareTabs .ui-tabs-panel {
  padding: 15px 0 5px 0;
  position: relative;
}
.jrCompareDashboard .jrCompareTabs .ui-tabs-panel .jrCompareScroll {
  position: relative;
  float: left;
  width: 700px;
  height: 70px;
  overflow: hidden;
}
.jrCompareDashboard .jrCompareTabs a.compareBrowse {
  background: url(images/arrows.png) no-repeat;
  display: block;
  width: 22px;
  height: 22px;
  float: left;
  margin: 22px 8px;
  cursor: pointer;
  font-size: 1px;
  visibility: hidden;
}
.jrCompareDashboard .jrCompareTabs a.compareRight {
  background-position: -22px 0;
  clear: right;
  margin-right: 0px;
}
.jrCompareDashboard .jrCompareTabs a.compareLeft {
  background-position: 0 0;
  margin-left: 0px;
}
.jrCompareDashboard .jrCompareTabs .ui-tabs-panel ul {
  padding: 0;
  margin: 0;
  width: 20000em;
  position: absolute;
}
.jrCompareDashboard .jrCompareTabs .ui-tabs-panel ul li.ltItem {
  position: relative;
  float: left;
  height: 50px;
  width: 155px;
  margin: 0 10px 10px 0;
  padding: 5px;
  list-style: none;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f3f3f3;
  background-image: -moz-linear-gradient(top, #fafafa, #e8e8e8);
  background-image: -ms-linear-gradient(top, #fafafa, #e8e8e8);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#e8e8e8));
  background-image: -webkit-linear-gradient(top, #fafafa, #e8e8e8);
  background-image: -o-linear-gradient(top, #fafafa, #e8e8e8);
  background-image: linear-gradient(top, #fafafa, #e8e8e8);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#e8e8e8', GradientType=0);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.jrCompareDashboard .jrCompareTabs span.removeItem {
  position: absolute;
  bottom: 5px;
  right: 2px;
  cursor: pointer;
  width: 14px;
  height: 14px;
}
.jrCompareDashboard .jrCompareTabs .compareThumb {
  float: left;
  width: 50px;
  max-height: 50px;
  border: 1px solid #ccc;
  margin-right: 5px;
  overflow: hidden;
}
.jrCompareDashboard .jrCompareTabs .compareThumb a:hover {
  background: none;
}
.jrCompareDashboard .jrCompareTabs .compareThumb img {
  width: 50px;
  border: 0;
}
.jrCompareDashboard .jrCompareTabs span.compareItemTitle {
  display: block;
  font-size: 10px;
  line-height: 1.2em;
  text-align: left;
  height: 45px;
}
.jrCompareDashboard .jrCompareTabs span.compareItemTitle a {
  color: #333 !important;
}
.jrCompareDashboard .jrCompareButtons {
  position: absolute;
  top: 5px;
  right: 0px;
  width: 120px;
}
.jrCompareDashboard .jrCompareButtons a {
  margin-bottom: 5px;
}
.jrCompareDashboard p.comparisonMessage {
  position: absolute;
  top: -65px;
  right: 0;
}
.jrCompareDashboard p.comparisonMessageMax {
  position: absolute;
  top: -20px;
  left: 100px;
  white-space: normal;
}
/************************
jQuery UI additions
*************************/
.ui-autocomplete-loading {
  background: #ffffff url(images/loading_s.gif) right center no-repeat !important;
}
/* fixes issues with the streetview inside a hidden tab */
object#panoflash1 {
  width: 100%;
}
/* Tabs */
.jrTabs.ui-tabs {
  padding: 0;
  border: 0;
  font-size: 1em;
  background: none;
}
.jrTabs.ui-tabs .ui-tabs-nav {
  margin: 0 !important;
  padding: 0.2em 0.2em 0 0 !important;
  border: 0;
  background: none;
}
.jrTabs.ui-tabs .ui-tabs-nav li {
  margin: 0 3px 1px 0 !important;
  list-style: none !important;
  top: 1px;
}
.jrTabs.ui-tabs .ui-tabs-nav li a {
  padding: 6px 10px;
}
.jrTabs.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
  border: 1px solid #ccc;
  padding: 0;
  top: 2px;
}
.jrTabs.ui-tabs .ui-tabs-nav li.ui-state-hover {
  border: 1px solid #ccc;
}
.jrTabs.ui-tabs .ui-tabs-panel {
  background: #fff;
  border: 1px solid #ccc;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  -khtml-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
}
/**************************
* Social Bookmarks
***************************/
.socialBookmarks,
.socialBookmarksVertical {
  clear: left;
  float: left;
  display: inline-block;
  margin-bottom: 30px;
}
.socialBookmarks iframe,
.socialBookmarks div,
.socialBookmarks .IN-widget,
.socialBookmarks #___plusone_0,
.socialBookmarksVertical iframe,
.socialBookmarksVertical div,
.socialBookmarksVertical .IN-widget,
.socialBookmarksVertical #___plusone_0 {
  vertical-align: top !important;
  margin-right: 10px !important;
}
div.socialBookmarksVertical a[class^="PIN"] {
  margin-top: 30px!important;
}
/* Facebook Buttons */
.jrFacebookPublish {
  margin: 0 0 15px 0 !important;
}
.jrFacebookPublish input {
  margin-right: 5px !important;
}
/*************************************
Joomla Styles
*************************************/
table.contentpaneopen,
table.contentpane {
  margin: 0;
  padding: 0;
  width: 100% !important;
}
/*************************************
Community Builder Overrides
*************************************/
/* cb status ratings */
.cbStatusList .jrOverallRatings {
  float: none;
}
/*************************************
Google Maps Places Overrides
*************************************/
.pac-container {
  width: auto !important;
}
/*************************************
Responsive styles
*************************************/
/* Tablet to desktop */
@media (min-width: 768px) and (max-width: 979px) {
  /* Grid columns */
  .jrListColumn .jrListItem {
    width: 32.0952381%;
  }
  .jrListColumn8 .jrListItem {
    width: 12.7755102%;
  }
  .jrListColumn7 .jrListItem {
    width: 15.19047619%;
  }
  .jrListColumn6 .jrListItem {
    width: 18.57142857%;
  }
  .jrListColumn5 .jrListItem {
    width: 23.64285714%;
  }
  .jrListColumn4 .jrListItem {
    width: 32.0952381%;
  }
  .jrListColumn3 .jrListItem {
    width: 48.72857143%;
  }
  .jrListColumn2 .jrListItem {
    width: 99.71428571%;
  }
  .jrListColumn1 .jrListItem {
    width: 99.71428571%;
  }
  .jrListColumn .jrListItem:nth-child(4n),
  .jrListColumn8 .jrListItem:nth-child(8n),
  .jrListColumn7 .jrListItem:nth-child(7n),
  .jrListColumn6 .jrListItem:nth-child(6n),
  .jrListColumn5 .jrListItem:nth-child(5n),
  .jrListColumn4 .jrListItem:nth-child(4n),
  .jrListColumn3 .jrListItem:nth-child(3n),
  .jrListColumn2 .jrListItem:nth-child(2n),
  .jrListColumn1 .jrListItem {
    margin: 0 1.428571429% 1.428571429% 0;
  }
  .jrListColumn .jrListItem:nth-child(3n),
  .jrListColumn8 .jrListItem:nth-child(7n),
  .jrListColumn7 .jrListItem:nth-child(6n),
  .jrListColumn6 .jrListItem:nth-child(5n),
  .jrListColumn5 .jrListItem:nth-child(4n),
  .jrListColumn4 .jrListItem:nth-child(3n),
  .jrListColumn3 .jrListItem:nth-child(2n),
  .jrListColumn2 .jrListItem:nth-child(1n),
  .jrListColumn1 .jrListItem {
    margin: 0 0 1.428571429% 0;
  }
  /* Comparison dashboard */
  .jrCompareDashboard .jrCompareTabs {
    width: 720px;
  }
  .jrCompareDashboard .jrCompareTabs .ui-tabs-panel .jrCompareScroll {
    width: 525px;
  }
  .jrCompareDashboard .jrCompareTitle {
    display: none;
  }
}
/* Smartphone to tablet */
@media (max-width: 767px) {
  /* Fluid grid */
  .jrGrid {
    width: 100%;
  }
  .jrGrid [class*="jrCol"] {
    float: none;
    display: block;
    width: 100%;
    margin-left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* Grid columns */
  .jrListColumn .jrListItem {
    width: 32.0952381%;
  }
  .jrListColumn8 .jrListItem {
    width: 12.7755102%;
  }
  .jrListColumn7 .jrListItem {
    width: 15.19047619%;
  }
  .jrListColumn6 .jrListItem {
    width: 18.57142857%;
  }
  .jrListColumn5 .jrListItem {
    width: 23.64285714%;
  }
  .jrListColumn4 .jrListItem {
    width: 32.0952381%;
  }
  .jrListColumn3 .jrListItem {
    width: 48.72857143%;
  }
  .jrListColumn2 .jrListItem {
    width: 99.71428571%;
  }
  .jrListColumn1 .jrListItem {
    width: 99.71428571%;
  }
  [class*="jrListColumn"] .jrListItem:nth-child(n),
  .jrListColumn4 .jrListItem:nth-child(n) {
    margin: 0 1.428571429% 1.428571429% 0;
  }
  .jrListColumn .jrListItem:nth-child(3n),
  .jrListColumn8 .jrListItem:nth-child(7n),
  .jrListColumn7 .jrListItem:nth-child(6n),
  .jrListColumn6 .jrListItem:nth-child(5n),
  .jrListColumn5 .jrListItem:nth-child(4n),
  .jrListColumn4 .jrListItem:nth-child(3n),
  .jrListColumn3 .jrListItem:nth-child(2n),
  .jrListColumn2 .jrListItem:nth-child(1n),
  .jrListColumn1 .jrListItem {
    margin: 0 0 1.428571429% 0;
  }
  /* Directory */
  .jrDirview > ul {
    padding-left: 10px;
  }
  .jrDirview ul li.jrCatLevel1 {
    float: none !important;
    width: auto !important;
    overflow: hidden;
  }
  /* List pages */
  .jrListSearch a {
    clear: both;
    display: block;
    margin: 5px 0;
  }
  .jrPagenavResults,
  .jrPagenavLimit,
  .jrOrdering {
    text-align: center;
  }
  .jrOrdering .jrMediaFilter {
    display: inline;
  }
  .jrOrdering .jrMediaSort {
    display: inline;
    margin: 0;
  }
  .jrPagenavPages {
    margin: 8px 0;
  }
  /* Blogview - disable map */
  .jrListingColumn {
    width: auto !important;
  }
  .jrMapColumn {
    display: none;
  }
  /* Tableview */
  .jrTableview .jrTableColumnFirst {
    display: none !important;
  }
  /* Detail page map */
  .jrMapLayoutDetail .jrMapDetail {
    width: 100% !important;
    margin-bottom: 10px;
  }
  .jrMapLayoutDetail .jrStreetviewDetail {
    width: 100%;
    clear: both;
  }
  .jrModuleItems .jrListingsModule .jrModuleItem,
  .jrModuleItems .jrReviewsModule .jrModuleItem,
  .jrModuleItems .jrPlugin .jrModuleItem {
    float: none;
    width: 100% !important;
  }
  .jrModuleItems .jrMediaModule .jrModuleItem,
  .jrModuleItems .jrFavoritesModule .jrModuleItem {
    float: none !important;
    width: auto !important;
    display: inline-block;
  }
}
/* Smartphone */
@media (max-width: 480px) {
  /* Grid columns */
  .jrListColumn .jrListItem,
  .jrListColumn8 .jrListItem,
  .jrListColumn7 .jrListItem,
  .jrListColumn6 .jrListItem,
  .jrListColumn5 .jrListItem,
  .jrListColumn4 .jrListItem,
  .jrListColumn3 .jrListItem,
  .jrListColumn2 .jrListItem,
  .jrListColumn1 .jrListItem {
    width: 48.72857143%;
  }
  [class*="jrListColumn"] .jrListItem:nth-child(n),
  .jrListColumn4 .jrListItem:nth-child(n) {
    margin: 0 1.428571429% 1.428571429% 0;
  }
  .jrListColumn .jrListItem:nth-child(2n),
  .jrListColumn8 .jrListItem:nth-child(2n),
  .jrListColumn7 .jrListItem:nth-child(2n),
  .jrListColumn6 .jrListItem:nth-child(2n),
  .jrListColumn5 .jrListItem:nth-child(2n),
  .jrListColumn4 .jrListItem:nth-child(2n),
  .jrListColumn3 .jrListItem:nth-child(2n),
  .jrListColumn2 .jrListItem:nth-child(2n),
  .jrListColumn1 .jrListItem {
    margin: 0 0 1.428571429% 0;
  }
  /* Detail page */
  .jrListingDetail .jrListingStatus {
    float: left !important;
  }
  .jrListingDetail .jrListingMainImage {
    float: left !important;
    margin: 0 0 10px 0;
  }
  .jrListingDetail .jrCustomFields {
    clear: both;
  }
  .jrAttachments .jrAttachmentSize,
  .jrAttachments .jrAttachmentType {
    display: none;
  }
  .jrCompareButton {
    display: none;
  }
  .jrPopup {
    display: none !important;
  }
  .jrTabs.ui-tabs .ui-tabs-nav li {
    width: 32%;
    overflow: hidden;
  }
  .jrTabs.ui-tabs .ui-tabs-nav li a {
    width: 100%;
  }
  /* Reviews */
  .jrReviewSummary .jrButton {
    margin-bottom: 10px;
  }
  .jrReviewSummary .jrReviewSummarySidebar {
    float: none;
  }
  .jrReviewContainer .jrRatingInfo {
    float: none;
    margin-bottom: 10px;
  }
  .jrReviewContainer .jrUserInfo {
    clear: both;
    margin-bottom: 10px;
  }
  /* Form */
  .jrForm .jrTitle,
  .jrForm .jrReviewTitle,
  .jrForm .jrText,
  .jrForm .jrEmail,
  .jrForm .jrWebsite {
    min-width: auto !important;
    width: 220px !important;
  }
  .jrRatingsSubmission .jrRatingCriteria {
    width: 100px !important;
  }
  .jrRatingsSubmission .jrRatingCaption {
    width: 30px !important;
  }
  /* Media */
  .jrVideoCurrentInfo {
    display: none;
  }
}
/*************************************
Debug styles
*************************************/
.jrThemeDebugDiv {
  border: 1px dashed #c1150f;
  padding: 5px;
  margin: 5px;
  clear: both;
}
.jrThemeDebug {
  padding: 3px 8px;
  display: inline-block;
  margin-bottom: 8px;
  color: #fff;
  font-weight: normal;
  background-color: #bc1b1c;
  border: 1px solid #bc1b1c;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-size: 11px;
}
.jrDebug {
  background-color: #3a87ad;
  text-transform: none;
  font-weight: normal;
  font-size: 11px;
  margin-right: 5px;
}
.jrDebugHighlight {
  background-color: #faf25f;
  color: #000;
  text-transform: none;
  font-weight: normal;
  font-size: 11px;
  margin-right: 0;
}
