.price_table{
	width: 32.8%;
	margin: 0px 0.5% 40px 0px;
}

/* Second size from responsive.css - start */

	body.boxed .wrapper,
	body.boxed header,
	.boxed nav.content_menu.fixed{
		width: 848px;
	}
	
	.container_inner,
	nav.content_menu,
	.parallax_content{
		width: 768px;
	}

	.logo{
		margin: 0px 5px 0px 0px;
	}

	.header_right_widget{
		margin: 0px;
	}

	.header_right_widget .social_menu{
		padding: 0px;
	}

	.header_right_widget .textwidget ul li{
		margin: 0px 0px 0px 2px;
	}

	nav.main_menu ul li a{
		padding: 0px 6px;
		font-size: 14px;
	}

	nav.content_menu ul li{
		margin: 0px 10px;
	}

	nav.content_menu ul li a{
		font-size: 14px;
	}

	.projects_holder.v6 .mix{
		width: 23.5%;
		margin: 0 0 2%;
	}

	.projects_holder.v6 .filler {
		width: 23%;
	}

	.projects_holder.v4 .mix{
		margin: 0 0 2.8%;
		width: 31.5%;
	}

	.projects_holder.v4 .filler{
		width: 31.5%;
	}
	
	.projects_holder.v3 .mix{
		margin: 0 0 4%;
		width: 48%;
	}

	.projects_holder.v3 .filler {
		width: 48%;
	}
	
	.blog_holder .post .post_info{
		width: 13%;
	}
	.blog_holder .post .post_text{
		width: 53%;
	}
	
	.blog_holder .post.no-image .post_text{
		width: 87%;
	}
	
	.blog_single_holder .post_info{
		width: 13%;
	}

	.blog_single_holder .post_content{
		width: 87%;
	}
	
	.comment_form_holder .comment_number{
		width: 13%;
	}

	.comment_form_holder .comment_form{
		width: 87%;
	}
	
	.blog_holder.blog_wide .post .post_info{
		width: 13%;
	}
	
	.blog_holder.blog_wide .post_image{
		width:87%;
	}
	
	.blog_holder.blog_wide .post .post_text{
		width: 87%;
		padding: 0 0 0 13%;
	}
	
	.blog_holder.blog_wide .post.no-image .post_text{
		width: 87%;
		float: left;
	}
	
	.blog_holder.blog_wide.blog_sidebar .post_info{
		width: 17%;
	}

	.blog_holder.blog_wide.blog_sidebar .post_image{
		width: 83%;
	}

	.blog_holder.blog_wide.blog_sidebar .post_text{
		width: 83%;
		padding: 0 0 0 17%;
	}
	
	.blog_holder.blog_wide.blog_sidebar .post.no-image .post_text{
		width: 83%;
		float: left;
	}
	
	.blog_holder.blog_two_cols .blog_text_image{
		width: 76%;
		float: left;
	}
	
	.blog_holder.blog_two_cols .post_info{
		width: 24%;
	}

	.blog_holder.blog_two_cols .post_image{
		width: 100%;
	}

	.blog_holder.blog_two_cols .post .post_text{
		width: 100%;
		padding:  0;
	}
	
	.blog_holder.blog_two_cols .post.no-image .post_text{
		width: 100%;
		float: left;
	}
	
	.blog_holder.blog_two_cols.blog_sidebar .post_info{
		width: 30%;
	}

	.blog_holder.blog_two_cols.blog_sidebar .blog_text_image{
		width: 70%;
	}
	
	.blog_holder.blog_inline.blog_sidebar .post_info{
		width: 19%;
	}	
	
	.blog_holder.blog_inline.blog_sidebar .post_image{
		width: 34%;
	}	
	
	.blog_holder.blog_inline.blog_sidebar .post_text{
		width: 47%;
	}	
	
	.blog_holder.blog_inline.blog_sidebar  .post.no-image  .post_text{
		width: 81%;
	}	
	
	.price_table_inner ul li .button{
		padding: 14px 30px;
	}
	
	.latest_post_holder.four{
		margin: 0px 1.95% 0px 0px;
		width: 49%;
	}

	.latest_post_holder.three{
		margin: 0 1.95% 0 0;
		width: 32%;
	}

	.latest_post_holder.two{
		margin: 0px 1.95% 0px 0px;
		width: 49%;
	}
	
	.latest_post_section .latest_post_holder.four:nth-child(2n){
		margin: 0;
	}

	.flip_icon,
	.fade_in_circle{
		width: 175px;
		height: 175px;
	}
	
	.two_columns_50_50 .line_graf,
	.two_columns_66_33 .line_graf,
	.two_columns_33_66 .line_graf,
	.two_columns_75_25 .line_graf,
	.two_columns_25_75 .line_graf,
	.two_columns_75_25 .line_graf,
	.three_columns .line_graf,
	.four_columns .line_graf,
	.two_columns_50_50 .pie_graf,
	.two_columns_66_33 .pie_graf,
	.two_columns_33_66 .pie_graf,
	.two_columns_75_25 .pie_graf,
	.two_columns_25_75 .pie_graf,
	.two_columns_75_25 .pie_graf,
	.three_columns .pie_graf,
	.four_columns .pie_graf{
		margin: 0px;
		width: 100%;
	}
	
	.two_columns_50_50 .line_graf canvas,
	.two_columns_66_33 .line_graf canvas,
	.two_columns_33_66 .line_graf canvas,
	.two_columns_75_25 .line_graf canvas,
	.two_columns_25_75 .line_graf canvas,
	.two_columns_75_25 .line_graf canvas,
	.three_columns .line_graf canvas,
	.four_columns .line_graf canvas,
	.two_columns_50_50 .pie_graf canvas,
	.two_columns_66_33 .pie_graf canvas,
	.two_columns_33_66 .pie_graf canvas,
	.two_columns_75_25 .pie_graf canvas,
	.two_columns_25_75 .pie_graf canvas,
	.two_columns_75_25 .pie_graf canvas,
	.three_columns .pie_graf canvas,
	.four_columns .pie_graf canvas,
	.two_columns_50_50 .pie_graf_legend,
	.two_columns_66_33 .pie_graf_legend,
	.two_columns_33_66 .pie_graf_legend,
	.two_columns_75_25 .pie_graf_legend,
	.two_columns_25_75 .pie_graf_legend,
	.two_columns_75_25 .pie_graf_legend,
	.three_columns .pie_graf_legend,
	.four_columns .pie_graf_legend,
	.two_columns_50_50 .line_graf_legend,
	.two_columns_66_33 .line_graf_legend,
	.two_columns_33_66 .line_graf_legend,
	.two_columns_75_25 .line_graf_legend,
	.two_columns_25_75 .line_graf_legend,
	.two_columns_75_25 .line_graf_legend,
	.three_columns .line_graf_legend,
	.four_columns .line_graf_legend{
		width: 100% !important;
		height: auto !important;
	}
	
	
	
/* Second size from responsive.css - start */